<style> 
  .breadcrumbs--root {
    display: flex;
    width: 100%;
    gap: 5px;
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }

  .breadcrumbs--root li,
  .breadcrumbs--root li a {
    font-family: "Alata", sans-serif !important;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 66px;
  }

  @media screen and (max-width: 767px) {
    .breadcrumbs--root li,
    .breadcrumbs--root li a {
      font-size: 10px;
      line-height: normal;
      margin-top: 10px;
    }

    .breadcrumbs--root {
      margin-top: 10px;
    }
  }

  /* All breadcrumb items except the last one: black */
  .breadcrumbs--root li:not(:last-child),
  .breadcrumbs--root li:not(:last-child) a {
    color: #000;
  }

  /* Last breadcrumb item: faded */
  .breadcrumbs--root li:last-child {
    color: rgba(0, 0, 0, 0.5);
  }

  .breadcrumbs--root li:not(:last-child)::after {
    content: '/';
    margin-left: 3px;
  }
</style>

<ul class="breadcrumbs--root">
  <li data-item="block-link">
    <a href="{{ routes.root_url }}">Home</a>
  </li>

  {% if request.page_type == "product" %}
    <li data-item="block-link">
      <a href="/collections/all-products">Collections</a>
    </li>
  {% endif %}

  <li data-item="accent-text">{{ product.title }}</li>
</ul>
