{% assign menu = linklists['ALL-PRODUCTS'] %} {# Replace with your menu handle #}

{% for link in menu.links %}
  {% if link.title == 'ALL PRODUCTS' %}
    {% if link.type == 'collection_link' and link.object %}
      {{ link.object.title }}
    {% else %}
      {{ link.title }}
    {% endif %}
  {% endif %}
{% endfor %}



<p>test</p>