{% assign menu = linklists['main-menu'] %} {# Replace with your menu handle if different #}

{% for link in menu.links %}
  {% if link.title == 'ALL PRODUCTS' %}
    {%- if link.object and link.type == 'collection_link' -%}
      <p>{{ link.object.title }}</p>  {# Real collection title #}
    {%- else -%}
      <p>{{ link.title }}</p>         {# Fallback to label #}
    {%- endif -%}
  {% endif %}
{% endfor %}


<p>test</p>