<style>
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .custom-login__bg {
    position: fixed;
    inset: 0;
    display: flex;
    z-index: 50;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
  }
  
  .custom-login__container {
    width: 50rem;
    background-color: white;
    padding: calc(var(--x-spacing) * 10);
    display: flex;
    flex-direction: column;
    gap: calc(var(--x-spacing) * 5);
    align-items: center;
    position: relative;
  }

  .custom-login__first-last-name {
    display: flex;
    gap: calc(var(--x-spacing) * 5);
    width: 100%;
  }

  .custom-login__heading {
    text-transform: uppercase;
  }

  .custom-login__input-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--x-spacing) * 5);
  }

  @media screen and (max-width: 1150px) {
    .custom-login__container {
      width: 100%;
    }
  }
    
  @media screen and (max-width: 767px) {
    .custom-login__bg {
      padding-left: 49px;
      padding-right: 49px;
    }
    

    .custom-login__first-last-name {
      flex-direction: column;
      gap: 14px;
    }

    .custom-login__heading {
      font-family: "Alata", sans-serif !important;
      font-weight: 400;
      letter-spacing: 2%;
      font-size: 23px;
      line-height: 48px;
      text-align: center;
    }

    .custom-login__input {
      width: 100%;
      height: 100%;
      padding-left: 40px;
      display: flex;
      align-items: center;
      border: 2px solid black;
      font-size: 16px;
      outline: none;
    }

    .custom-login__input-container {
      width: 100%;
      row-gap: 14px;
    }

    .custom-login__input-wrap {
      position: relative;
      width: 100%;
      height: 50px
    }
    
    .custom-login__subheading {
      text-align: center;
      font-size: 14px;
      letter-spacing: 1px;
    }

    .tiny-text {
      font-family: "Alata", sans-serif !important;
      font-weight: 400;
      letter-spacing: 1px;
      color: rgba(22,22,22,0.5);
      font-size: 12px;
    }

    .tiny-text2 {
      font-family: "Alata", sans-serif !important;
      font-weight: 400;
      letter-spacing: 1px;
      color: rgba(22,22,22,0.5);
      font-size: 10px;
    }
  }
</style>
<!-- class="x:fixed x:inset-0 x:flex x:items-center x:justify-center x:bg-black/50 x:hidden x:z-50" -->
<section 
  class="custom-login__bg x:hidden"
  id="login-modal"
>
{% form 'customer_login' %}
  <input type="hidden" name="return_to" value="/pages/profile">
      <div class="custom-login__container">
        <i class="x:absolute x:right-5 x:top-5 x:cursor-pointer" onclick="document.getElementById('login-modal').classList.add('x:hidden')">
          <span class="x:cursor-pointer">
            {%- render 'icon', icon: 'close' -%}
          </span>
        </i>
    
        <div class="x:flex x:flex-col x:items-center">
          <h1 class="custom-login__heading">account sign in</h1>
          <span class="custom-login__subheading">Welcome back! Access your orders, wishlist, and more</span>
        </div>
        
        <div class="custom-login__input-container">
              {% if form.errors %}
              <div class="x:text-red-600 x:text-sm">
                {{ form.errors | default_errors }}
              </div>
            {% endif %}
    
            <div class="x:relative x:group x:w-full custom-login__input-wrap">
              <input 
                name="customer[email]" 
                type="email" 
                required 
                placeholder="Email" 
                class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full custom-login__input"
              >
              <div class="x:absolute x:flex x:items-center x:left-3 x:top-1/2 x:-translate-y-1/2 x:gap-3">
                <i>{%- render 'icon' with 'email' -%}</i>
              </div>
            </div>
    
            <div class="x:relative x:group x:w-full custom-login__input-wrap">
              <input
                id="login-password"
                name="customer[password]"
                type="password"
                required
                placeholder="Password"
                class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full custom-login__input"
              >
            
              <div class="x:absolute x:left-3 x:top-1/2 x:-translate-y-1/2">
                {%- render 'icon' with 'picto-lock' -%}
              </div>
            
              <div
                id="toggle-login-password"
                class="x:absolute x:right-3 x:top-1/2 x:-translate-y-1/2 x:cursor-pointer"
                data-visible="false"
              >
                <span class="eye-icon">{%- render 'icon' with 'eye' -%}</span>
                <span class="eye-off-icon" style="display: none;">{%- render 'icon' with 'eye-off' -%}</span>
              </div>
            </div>
            <a href="/account/recover" class="tiny-text">Forgot Password?</a>
            <button type="submit"
              class="x:w-full x:border x:border-black x:bg-[#222222] x:text-white x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:h-[3.75rem] x:uppercase"
            >
              sign in
            </button>
            <a class="x:text-center tiny-text" onclick="
              document.getElementById('login-modal').classList.add('x:hidden');
              document.querySelector('#signup-modal').classList.remove('x:hidden');
            ">Don't have an account? Create One</a>
          </div>
      </div>
      {% endform %}
</section>

<section 
  class="custom-login__bg x:hidden"
  id="signup-modal"
>
     {% form 'create_customer' %}
  <div class="custom-login__container">
    <i class="x:absolute x:right-5 x:top-5 x:cursor-pointer" onclick="document.getElementById('signup-modal').classList.add('x:hidden')">
      <span class="x:cursor-pointer">
        {%- render 'icon', icon: 'close' -%}
      </span>
    </i>

    <div class="x:flex x:flex-col x:items-center">
      <h1 class="custom-login__heading">create an account</h1>
      <span class="custom-login__subheading" style="font-size: 12px;">Sign up to access your order history, wishlist, and exclusive deals</span>
    </div>

 
      <input type="hidden" name="return_to" value="/pages/profile">
      <div class="custom-login__input-container">

        {% if form.errors %}
          <div class="x:text-red-600 x:text-sm">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}
        <!-- First & Last Name Inputs -->
        <div class="custom-login__first-last-name">
          <div class="x:relative x:group x:w-full custom-login__input-wrap">
            <input
              name="customer[first_name]"
              placeholder="First Name"
              required
              class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full custom-login__input"
            >
            <div class="x:absolute x:flex x:items-center x:left-3 x:top-1/2 x:-translate-y-1/2 x:gap-3">
              <i>{%- render 'icon' with 'user', class: 'user' -%}</i>
            </div>
          </div>

          <div class="x:relative x:group x:w-full custom-login__input-wrap">
            <input
              name="customer[last_name]"
              placeholder="Last Name"
              required
              class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full custom-login__input"
            >
            <div class="x:absolute x:flex x:items-center x:left-3 x:top-1/2 x:-translate-y-1/2 x:gap-3">
              <i>{%- render 'icon' with 'user', class: 'user' -%}</i>
            </div>
          </div>
        </div>

        <div class="x:relative x:group x:w-full custom-login__input-wrap">
          <input
            name="customer[phone]"
            placeholder="Phone Number"
            class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full custom-login__input"
          >
          <div class="x:absolute x:flex x:items-center x:left-3 x:top-1/2 x:-translate-y-1/2 x:gap-3">
            <i>{%- render 'icon' with 'picto-phone' -%}</i>
          </div>
        </div>

        <div class="x:relative x:group x:w-full custom-login__input-wrap">
          <input
            name="customer[email]"
            type="email"
            required
            placeholder="Email"
            class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full custom-login__input"
          >
          <div class="x:absolute x:flex x:items-center x:left-3 x:top-1/2 x:-translate-y-1/2 x:gap-3">
            <i>{%- render 'icon' with 'email' -%}</i>
          </div>
        </div>

        <div class="x:relative x:group x:w-full custom-login__input-wrap">
          <input
            id="signup-password"
            name="customer[password]"
            type="password"
            required
            placeholder="Password"
            class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full custom-login__input"
          >
          <div class="x:absolute x:left-3 x:top-1/2 x:-translate-y-1/2">
            {%- render 'icon' with 'picto-lock' -%}
          </div>
          <div
            id="toggle-signup-password"
            class="x:absolute x:right-3 x:top-1/2 x:-translate-y-1/2 x:cursor-pointer"
            data-visible="false"
          >
            <span class="eye-icon">{%- render 'icon' with 'eye' -%}</span>
            <span class="eye-off-icon" style="display: none;">{%- render 'icon' with 'eye-off' -%}</span>
          </div>


        </div>


        <button type="submit" class="x:w-full x:border x:border-black x:bg-[#222222] x:text-white x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:h-[3.75rem] x:uppercase">
          create account
        </button>

        <span class="x:text-center x:w-full x:text-[#222222]/50 tiny-text2">
          By creating an account you are agreeing to our
          <span class="x:underline x:hover:text-black x:hover:cursor-pointer">Terms of Use</span> and
          <span class="x:underline x:hover:text-black x:hover:cursor-pointer">Privacy Policy</span>
        </span>

        <span class="x:w-full x:text-center x:text-[#222222]/50 tiny-text2">
          Already have an account?
          <a class="x:underline x:hover:text-black x:hover:cursor-pointer" onclick="
            document.getElementById('signup-modal').classList.add('x:hidden');
            document.getElementById('login-modal').classList.remove('x:hidden');
          ">Sign In</a>
        </span>
      </div>
  </div>
      {% endform %}
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function setupPasswordToggle(inputId, toggleId) {
      const input = document.getElementById(inputId);
      const toggle = document.getElementById(toggleId);
      const eyeIcon = toggle.querySelector(".eye-icon");
      const eyeOffIcon = toggle.querySelector(".eye-off-icon");

      if (input && toggle && eyeIcon && eyeOffIcon) {
        toggle.addEventListener("click", function () {
          const isVisible = toggle.getAttribute("data-visible") === "true";
          toggle.setAttribute("data-visible", !isVisible);

          // Toggle input type
          input.type = isVisible ? "password" : "text";

          // Toggle icons
          eyeIcon.style.display = isVisible ? "inline-block" : "none";
          eyeOffIcon.style.display = isVisible ? "none" : "inline-block";
        });
      }
    }

    setupPasswordToggle("login-password", "toggle-login-password");
    setupPasswordToggle("signup-password", "toggle-signup-password");
  });
</script>
