<div class="tablecloth">
  
  <div class="tablecloth__container">
    <div class="tablecloth__banner-wrap">
      <img class="tablecloth__banner-img" src="">
      <p class="tablecloth__banner-desc">
        A tablecloth does more than protect—it creates a mood. Whether you're setting the scene for a cozy breakfast or hosting a formal dinner party, the right tablecloth adds texture, color, and a sense of occasion. From sizing to fabric, we’re breaking down how to choose the perfect fit for your table and lifestyle.
      </p>
    </div>
  </div>
  
</div>