<style>
  .tablecloth {
    padding: 60px 20px 150px;
    margin: 0 auto;
    width: fit-content;
    color: #222;
  }

  .tablecloth__title {
    font-family: "Alata", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #222;
    letter-spacing: 0.5px;
    
  }

  .tablecloth__container {
    max-width: 1280px;
  }

  .tablecloth__banner-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .tablecloth__banner-img {
    width: 100%;
  }

  .tablecloth__banner-desc {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
  }

  .tablecloth__block-title {
    margin-top: 72px;
    font-family: "Alata", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .tablecloth__block-box-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 32px;
    margin-top: 60px;
  }

  .tablecloth__block-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tablecloth__box-title {
    text-align: center;
    font-size: 24px;
    margin: 16px 0 8px;
  }

  .tablecloth__box-desc {
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
  }


  .tablecloth__block-guide {
    max-width: 234px;
    width: 100%;
  }
    
  .tablecloth__block-guide-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px 27px;
  }

  .tablecloth__guide-title {
    font-family: "Alata", sans-serif;
    font-size: 20px;
    margin: 24px 0 8px;
    display: block;
  }

  .tablecloth__guide-desc {
    font-size: 12px;
  }

  .tablecloth__guide-desc--light {
    opacity: 0.6;
    margin-top: 8px;
  }

  .tablecloth__shop-link {
    font-family: "Alata", sans-serif;
    border: 1px solid #222;
    margin-top: 24px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  .tablecloth__guide-note {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-top: 36px;
    display: block;
  }

  .tablecloth__block-material-wrap {
    display: flex;
    justify-content: space-between;
    gap: 38px;
  }

  .tablecloth__material-col-title {
    font-size: 24px;
    font-weight: 700;
    font-family: DM, sans-serif;
  }

  .tablecloth__material-col-desc {
    font-size: 14px;
  }

  .tablecloth__material-col-desc--light {
    opacity: 0.6;
  }

  .tablecloth__block-material {
    max-width: 400px;
  }


  
</style>


<div class="tablecloth">
  <h1 class="tablecloth__title">{{ page.title }}</h1>
  <div class="tablecloth__container">
    <div class="tablecloth__banner-wrap">
      <img class="tablecloth__banner-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_27_1_7af00971-9854-491f-89f1-876c0253b9b4.png?v=1752780038">
      <p class="tablecloth__banner-desc">
        A tablecloth does more than protect—it creates a mood. Whether you're setting the scene for a cozy breakfast or hosting a formal dinner party, the right tablecloth adds texture, color, and a sense of occasion. From sizing to fabric, we’re breaking down how to choose the perfect fit for your table and lifestyle.
      </p>
    </div>
    <div class="tablecloth__block-wrap">
      <h2 class="tablecloth__block-title">
        Before You Shop: A Few Things to Think About
      </h2>
      <div class="tablecloth__block-box-wrap">
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/CalendarCheck.png?v=1752780543">
           <span class="tablecloth__box-title">Table Shape</span>
           <p class="tablecloth__box-desc">
             Round, oval, square, or rectangular? The shape determines your sizing path.
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Shapes.png?v=1752780543">
           <span class="tablecloth__box-title">Purpose</span>
           <p class="tablecloth__box-desc">
            Everyday dining, special events, holidays, or purely decorative?
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Ruler.png?v=1752780543">
           <span class="tablecloth__box-title">Drop Length</span>
           <p class="tablecloth__box-desc">
            How much overhang do you want? A casual look might mean a shorter drop, while a formal dinner calls for a floor-skimming style.
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Towel.png?v=1752780543">
           <span class="tablecloth__box-title">Material</span>
           <p class="tablecloth__box-desc">
            Do you prefer the crisp elegance of cotton-linen or the easy-care practicality of coated polyester?
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Blueprint.png?v=1752780543">
           <span class="tablecloth__box-title">Tone & Texture</span>
           <p class="tablecloth__box-desc">
            Neutral for a minimalist look, patterned for personality. Consider your dishes, decor, and vibe.
           </p>
         </div>
      </div>
    </div>
    <div class="tablecloth__block-wrap">
      <h2 class="tablecloth__block-title">
        Tablecloth Size Guide
      </h2>
      <p class="tablecloth__block-txt">Finding the perfect size is all about the drop—how far the cloth hangs over the edge.</p>
      <div class="tablecloth__block-guide-wrap">
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_58.png?v=1752781747">
           <span class="tablecloth__guide-title">54" x 72" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Cozy breakfast nooks, apartment dining areas, compact dining setups
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 4 <br>
             Table Size: 30" x 48" – 36" x 48"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_59.png?v=1752781747">
           <span class="tablecloth__guide-title">66" x 90" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Everyday family dining, medium-sized dining rooms, casual gatherings
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 6 <br>
             Table Size: 36" x 60" – 42" x 60"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_60.png?v=1752781747">
           <span class="tablecloth__guide-title">66" x 108" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Formal dining settings, extended family meals, versatile dining spaces
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 6-8 <br>
             Table Size: 36" x 72" – 42" x 72"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_74.png?v=1752781747">
           <span class="tablecloth__guide-title">66" x 120" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Holiday hosting, long rectangular tables, entertaining guests
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 8-10 <br>
             Table Size: 42" x 84" – 48" x 84"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_62.png?v=1752781747">
           <span class="tablecloth__guide-title">66" x 140" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Large dinner parties, open-plan dining areas, shared family tables
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 10-12 <br>
             Table Size: 42" x 96" – 48" x 96"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_63.png?v=1752781795">
           <span class="tablecloth__guide-title">66" x 160" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Grand dining rooms, banquet-style tables, frequent entertainers
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 12-14 <br>
             Table Size: 42" x 108" – 48" x 108"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_64.png?v=1752781795">
           <span class="tablecloth__guide-title">66" x 180" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Event setups, extended family occasions, upscale home dining
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 14-16 <br>
             Table Size: 42" x 120" – 48" x 120"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_65.png?v=1752781796">
           <span class="tablecloth__guide-title">66" x 200" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Wedding receptions, formal gatherings, estate dining tables
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 16-18 <br>
             Table Size: 42" x 132" – 48" x 132"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_66.png?v=1752781795">
           <span class="tablecloth__guide-title">66" x 220" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Venue setups, large banquets, commercial or rental use
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 18-20 <br>
             Table Size: 42" x 144" – 48" x 144"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
      </div>
       <span class="tablecloth__guide-note"><strong>Tip</strong>: For a classic look, aim for a drop of 8–12 inches. For weddings or formal dinners, a drop of 15–24 inches creates an elegant, draped finish.</span>
    </div>
    
    <div class="tablecloth__block-wrap">
      <h2 class="tablecloth__block-title">
        MATERIAL
      </h2>
      <p class="tablecloth__block-txt">
        The fabric you choose sets the tone—not just for your table, but for the way you live. Some materials bring an effortless elegance, while others are made to handle spills, kids, or long dinners with friends. Whether you're looking for something timeless, low-maintenance, or a mix of both, here’s what to know before you decide.
        <br><br>
        From crisp linen to easy-care blends, each material offers a different feel, drape, and level of durability. Below is a breakdown of the most common tablecloth fabrics and where they shine.
      </p>
      <div class="tablecloth__block-material-wrap">
        <div class="tablecloth__block-material">
           <img class="tablecloth__material-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_72.png?v=1752850786">
           <span class="tablecloth__material-col-title">Velvet</span>
           <p class="tablecloth__material-col-desc">
             Rich and luxurious with a soft sheen, velvet tablecloths instantly elevate the mood. Best used indoors and styled with candles or metallics for an opulent effect. 
           </p>
           <p class="tablecloth__material-col-desc tablecloth__material-col-desc--light">
             Best For: Formal dinners, holiday tablescapes
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-material">
           <img class="tablecloth__material-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_68.png?v=1752852801">
           <span class="tablecloth__material-col-title">Classic Tablecloths</span>
           <p class="tablecloth__material-col-desc">
             Usually made from cotton or polyester blends, these offer a crisp, versatile foundation that works for both casual meals and more polished settings. Easy to care for and available in a wide range of colors and textures.
           </p>
          <p class="tablecloth__material-col-desc tablecloth__material-col-desc--light">
             Best For: Everyday dining, timeless setups
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-material">
           <img class="tablecloth__material-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_69.png?v=1752852789">
           <span class="tablecloth__material-col-title">Spill-Proof</span>
           <p class="tablecloth__material-col-desc">
             Coated with a water-resistant finish, these tablecloths combine beauty with practicality. Ideal for high-traffic tables or outdoor settings where cleanup needs to be quick and easy.
           </p>
           <p class="tablecloth__material-col-desc tablecloth__material-col-desc--light">
             Best For: Families, kids, outdoor dining
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
      </div>
      
    </div>
    
  </div>
  
</div>