{% assign type_value = product.metafields.custom.type.value | default: product.metafields.custom.type %}
{% if type_value contains 'Tablecloth' %}

<style>
  .tablecloth-section__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    background: #E6E4DB;
  }

  .tablecloth-section__wrap {
    display: flex;
    flex-direction: column;
    padding: 80px 120px;
    gap: 30px;
  }

  .tablecloth-section__title {
    font-size: calc(18px + (35 - 18) * (100vw - 1024px) / (1920 - 1024));
    text-transform: uppercase;
  }
  
  .tablecloth-section__desc {
    font-size: 16px;
  }
  
  .tablecloth-section__button {
    font-size: 16px;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px 30px;
    border: 1px solid;
  }

  
</style>



<div class="tablecloth-section__container">
  <img class="tablecloth-section__img-banner" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_27_1_7af00971-9854-491f-89f1-876c0253b9b4.png?v=1752780038">
  <div class="tablecloth-section__wrap">
    <h2 class="tablecloth-section__title">How to Pick a Tablecloth</h2>
    <p class="tablecloth-section__desc">Choosing the right tablecloth can instantly elevate your dining space. Our expert tips make it easy to find the perfect style, size, and fabric for any setting</p>
    <a class="tablecloth-section__button" href="/pages/how-to-choose-the-right-tablecloth">LEARN MORE</a>
  </div>
</div>


  {% endif %}
  
