<div class="tablecloth">
  
  <div class="tablecloth__container">
    <div class="tablecloth__banner-wrap">
      <img class="tablecloth__banner-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_27_1_7af00971-9854-491f-89f1-876c0253b9b4.png?v=1752780038">
      <p class="tablecloth__banner-desc">
        A tablecloth does more than protect—it creates a mood. Whether you're setting the scene for a cozy breakfast or hosting a formal dinner party, the right tablecloth adds texture, color, and a sense of occasion. From sizing to fabric, we’re breaking down how to choose the perfect fit for your table and lifestyle.
      </p>
    </div>
    <div class="tablecloth__block-wrap">
      <h2 class="tablecloth__block-title">
        Before You Shop: A Few Things to Think About
      </h2>
      <div class="tablecloth__block-box-wrap">
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/CalendarCheck.png?v=1752780543">
           <span class="tablecloth__box-title">Table Shape</span>
           <p class="tablecloth__banner-desc">
             Round, oval, square, or rectangular? The shape determines your sizing path.
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Shapes.png?v=1752780543">
           <span class="tablecloth__box-title">Purpose</span>
           <p class="tablecloth__banner-desc">
            Everyday dining, special events, holidays, or purely decorative?
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Ruler.png?v=1752780543">
           <span class="tablecloth__box-title">Drop Length</span>
           <p class="tablecloth__banner-desc">
            How much overhang do you want? A casual look might mean a shorter drop, while a formal dinner calls for a floor-skimming style.
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Towel.png?v=1752780543">
           <span class="tablecloth__box-title">Material</span>
           <p class="tablecloth__banner-desc">
            Do you prefer the crisp elegance of cotton-linen or the easy-care practicality of coated polyester?
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Blueprint.png?v=1752780543">
           <span class="tablecloth__box-title">Tone & Texture</span>
           <p class="tablecloth__banner-desc">
            Neutral for a minimalist look, patterned for personality. Consider your dishes, decor, and vibe.
           </p>
         </div>
      </div>
    </div>
    <div class="tablecloth__block-wrap">
      <h2 class="tablecloth__block-title">
        Tablecloth Size Guide
      </h2>
      <span class="tablecloth__block-txt">Finding the perfect size is all about the drop—how far the cloth hangs over the edge.</span>
      <div class="tablecloth__block-box-wrap">
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/CalendarCheck.png?v=1752780543">
           <span class="tablecloth__box-title">Table Shape</span>
           <p class="tablecloth__banner-desc">
             Round, oval, square, or rectangular? The shape determines your sizing path.
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Shapes.png?v=1752780543">
           <span class="tablecloth__box-title">Purpose</span>
           <p class="tablecloth__banner-desc">
            Everyday dining, special events, holidays, or purely decorative?
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Ruler.png?v=1752780543">
           <span class="tablecloth__box-title">Drop Length</span>
           <p class="tablecloth__banner-desc">
            How much overhang do you want? A casual look might mean a shorter drop, while a formal dinner calls for a floor-skimming style.
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Towel.png?v=1752780543">
           <span class="tablecloth__box-title">Material</span>
           <p class="tablecloth__banner-desc">
            Do you prefer the crisp elegance of cotton-linen or the easy-care practicality of coated polyester?
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Blueprint.png?v=1752780543">
           <span class="tablecloth__box-title">Tone & Texture</span>
           <p class="tablecloth__banner-desc">
            Neutral for a minimalist look, patterned for personality. Consider your dishes, decor, and vibe.
           </p>
         </div>
      </div>
    </div>
    
  </div>
  
</div>