<style>
  .tablecloth {
    padding: 60px 20px 150px;
    margin: 0 auto;
    width: fit-content;
    color: #222;
  }

  .tablecloth__title {
    font-family: "Alata", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #222;
    letter-spacing: 0.5px;
    
  }

  .tablecloth__container {
    max-width: 1280px;
  }

  .tablecloth__banner-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .tablecloth__banner-img {
    width: 100%;
  }

  .tablecloth__banner-desc {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
  }

  .tablecloth__block-title {
    margin-top: 72px;
    font-family: "Alata", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .tablecloth__block-box-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 32px;
    margin-top: 60px;
  }

  .tablecloth__block-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tablecloth__box-desc {
    text-align: center;
  }

  






  
  .tablecloth__block-guide-wrap {
    display: flex;
    flex-wrap: wrap;
  }


  
</style>


<div class="tablecloth">
  <h1 class="tablecloth__title">{{ page.title }}</h1>
  <div class="tablecloth__container">
    <div class="tablecloth__banner-wrap">
      <img class="tablecloth__banner-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_27_1_7af00971-9854-491f-89f1-876c0253b9b4.png?v=1752780038">
      <p class="tablecloth__banner-desc">
        A tablecloth does more than protect—it creates a mood. Whether you're setting the scene for a cozy breakfast or hosting a formal dinner party, the right tablecloth adds texture, color, and a sense of occasion. From sizing to fabric, we’re breaking down how to choose the perfect fit for your table and lifestyle.
      </p>
    </div>
    <div class="tablecloth__block-wrap">
      <h2 class="tablecloth__block-title">
        Before You Shop: A Few Things to Think About
      </h2>
      <div class="tablecloth__block-box-wrap">
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/CalendarCheck.png?v=1752780543">
           <span class="tablecloth__box-title">Table Shape</span>
           <p class="tablecloth__box-desc">
             Round, oval, square, or rectangular? The shape determines your sizing path.
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Shapes.png?v=1752780543">
           <span class="tablecloth__box-title">Purpose</span>
           <p class="tablecloth__box-desc">
            Everyday dining, special events, holidays, or purely decorative?
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Ruler.png?v=1752780543">
           <span class="tablecloth__box-title">Drop Length</span>
           <p class="tablecloth__box-desc">
            How much overhang do you want? A casual look might mean a shorter drop, while a formal dinner calls for a floor-skimming style.
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Towel.png?v=1752780543">
           <span class="tablecloth__box-title">Material</span>
           <p class="tablecloth__box-desc">
            Do you prefer the crisp elegance of cotton-linen or the easy-care practicality of coated polyester?
           </p>
         </div>
        <div class="tablecloth__block-box">
           <img class="tablecloth__box-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Blueprint.png?v=1752780543">
           <span class="tablecloth__box-title">Tone & Texture</span>
           <p class="tablecloth__box-desc">
            Neutral for a minimalist look, patterned for personality. Consider your dishes, decor, and vibe.
           </p>
         </div>
      </div>
    </div>
    <div class="tablecloth__block-wrap">
      <h2 class="tablecloth__block-title">
        Tablecloth Size Guide
      </h2>
      <span class="tablecloth__block-txt">Finding the perfect size is all about the drop—how far the cloth hangs over the edge.</span>
      <div class="tablecloth__block-guide-wrap">
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_58.png?v=1752781747">
           <span class="tablecloth__guide-title">54" x 72" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Cozy breakfast nooks, apartment dining areas, compact dining setups
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 4 <br>
             Table Size: 30" x 48" – 36" x 48"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_59.png?v=1752781747">
           <span class="tablecloth__guide-title">66" x 90" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Everyday family dining, medium-sized dining rooms, casual gatherings
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 6 <br>
             Table Size: 36" x 60" – 42" x 60"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_60.png?v=1752781747">
           <span class="tablecloth__guide-title">66" x 108" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Formal dining settings, extended family meals, versatile dining spaces
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 6-8 <br>
             Table Size: 36" x 72" – 42" x 72"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_74.png?v=1752781747">
           <span class="tablecloth__guide-title">66" x 120" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Holiday hosting, long rectangular tables, entertaining guests
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 8-10 <br>
             Table Size: 42" x 84" – 48" x 84"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_62.png?v=1752781747">
           <span class="tablecloth__guide-title">66" x 140" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Large dinner parties, open-plan dining areas, shared family tables
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 10-12 <br>
             Table Size: 42" x 96" – 48" x 96"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_63.png?v=1752781795">
           <span class="tablecloth__guide-title">66" x 160" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Grand dining rooms, banquet-style tables, frequent entertainers
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 12-14 <br>
             Table Size: 42" x 108" – 48" x 108"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_64.png?v=1752781795">
           <span class="tablecloth__guide-title">66" x 180" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Event setups, extended family occasions, upscale home dining
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 14-16 <br>
             Table Size: 42" x 120" – 48" x 120"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_65.png?v=1752781796">
           <span class="tablecloth__guide-title">66" x 200" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Wedding receptions, formal gatherings, estate dining tables
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 16-18 <br>
             Table Size: 42" x 132" – 48" x 132"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <div class="tablecloth__block-guide">
           <img class="tablecloth__guide-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_66.png?v=1752781795">
           <span class="tablecloth__guide-title">66" x 220" Tablecloths</span>
           <p class="tablecloth__guide-desc">
             Venue setups, large banquets, commercial or rental use
           </p>
           <p class="tablecloth__guide-desc tablecloth__guide-desc--light">
             Number of chairs: 18-20 <br>
             Table Size: 42" x 144" – 48" x 144"
           </p>
          <a class="tablecloth__shop-link" href="">Shop Now</a>
         </div>
        <span clsas="tablecloth__guide-note"><strong>Tip</strong>: For a classic look, aim for a drop of 8–12 inches. For weddings or formal dinners, a drop of 15–24 inches creates an elegant, draped finish.</span>
       
      </div>
    </div>
    
  </div>
  
</div>