<style>

  .custom-pickup-delivery {
    font-size: 14px;
    margin: 10px 0;
    display: block
  }

  .custom-pickup-delivery a {
    text-decoration: underline;
  }

  .custom-pickup-delivery__modal-container {
    display: none;
  }

</style>

<span class="custom-pickup-delivery">Available for <a href="#">Pickup</a> and <a href="#">Delivery</a></span>
<div class="custom-pickup-delivery__modal-container">
  <div class="custom-pickup-delivery__modal-wrap">
    Pickup Modal Content
  </div>
  <!-- <div class="custom-pickup-delivery__modal-wrap">
    Delivery Modal Content
  </div> -->
</div>