<div class="custom-product__desc-container">
  <!-- Item 1: Product Description -->
  <div class="custom-product__desc-block">
    <div class="custom-product__desc-title-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/fluent-mdl2_product.png?v=1744210702">
      <h3 class="custom-product__desc-title">Product Description</h3>
    </div>
      <p class="custom-product__desc-txt">
        {{ product.description | newline_to_br }}
      </p>
  </div>

  <!-- Item 2: Product Care -->
  <div class="custom-product__desc-block">
    <div class="custom-product__desc-title-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/hugeicons_healtcare.png?v=1744210702">
      <h3 class="custom-product__desc-title">Product Care</h3>
    </div>
    <p class="custom-product__desc-txt">Gently machine wash inside out. Wash with like colors. Made to be loved, worn, and passed on.</p>
  </div>

  <!-- Item 3: Shipping & Returns -->
  <div class="custom-product__desc-block">
    <div class="custom-product__desc-title-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/la_shipping-fast.png?v=1744210702">
      <h3 class="custom-product__desc-title">Shipping & Returns</h3>
    </div>
    <p class="custom-product__desc-txt">See our <a href="#" class="text-blue-500 underline">Shipping & Returns policy</a> for our update details.</p>
  </div>
</div>
