<span class="custom-product__info-collection-tag prose">
  {% if product.metafields.custom.sub_title != blank %}
  {% assign collectionTag = product.metafields.custom.product_category_name | remove: '[' | remove: ']' | remove: '"' %}
  shop the full <a href="/collections/{{ raw | replace: ' ', '-' | downcase }}"{{ collectionTag }} collection</a> collection

  {% endif %}
</span>