<span class="custom-product__info-collection-tag prose">
  {% if product.metafields.custom.sub_title != blank %}
    <a href="/collections/{{ product.metafields.custom.sub_title | replace: ' ', '-' | downcase }}">{{ product.metafields.product_category_name }}</a>
  {% endif %}
</span>