<style>
  .custom-sku {
    display: block;
    margin: 10px 0;
  }
</style>


<span id="variant-sku" class="custom-sku">SKU: {{ product.variants.first.sku }}</span>
<script>
  const productData = {{ product | json }};
</script>
