<span class="custom-product__info-collection-tag prose">
  {% if product.metafields.custom.sub_title != blank %}
  {% assign collectionTag = product.metafields.custom.product_category_name | remove: '[' | remove: ']' | remove: '"' %}
    {% assign last_collection = product.collections.last %}
  Shop the full <a href="/collections/{{ last_collection.metafields.custom.name_of_collection }}{{ raw | replace: ' ', '-' | downcase }}"> {{ collectionTag }}</a> collection

  {% endif %}
</span>