<style>
  .main-div {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgba(22,22,22,0.03);
    margin: 16px 21px;
    flex-direction: column;
    justify-items: center;
  }
</style>

<div class="main-div">
  <div style="width: 100px; height: 50px; background-color: blue;">FIRST DIV</div>
  <div style="width: 50px; height: 100px; background-color: red;">SECOND DIV</div>
</div>
