<style>
  .alata {
    font-family: 'Alata', sans-serif;
    font-weight: normal;
  }

  #first-name-input:focus {
    border:none;
  }
</style>

<div style="display: flex; flex-direction: column; width: 100%; padding-top: 34px; padding-bottom: 34px; gap: 15px;">
  <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
    <span class="custom-heading" style="font-size: 20px;">My Account</span>
  </div>
  <div style="gap: 3rem; filter: drop-shadow(0 2px 3px rgba(22,22,22,0.1)); background-color: white; display: flex; flex-direction: column; align-items: center; padding: 21px 22px;">
    <span class="alata" style="color: rgba(22,22,22,0.5); font-size: 10px;">MANAGE AND PROTECT YOUR ACCOUNT</span>
    <div style="width: 100%; display: flex; flex-direction: column; gap: 10px;">
      <div style="display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); width: 100%;">
        <div style="display: flex; align-items: center; width: 100%; gap: 10px; background-color: rgba(22,22,22,0.5);">
          <img
            src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
            alt=""
            width="17px"
            height="17px"
          >
          <div style="display: flex; flex-direction: column; height">
            <span style="">First Name</span>
            <span id="first-name-display">something1</span>
            <input id="first-name-input" style="display:none;" value={{ customer.first_name }}>
          </div>
        </div>
        <div>
          <span>something2</span>
        </div>
      </div>
      <div>
        PHONE NUMBER
      </div>
      <div>
        EMAIL
      </div>
      <div>
        PASSWORD
      </div>
    </div>
  </div>
</div>