<style>

  .profile {
    padding: 0 50px 30px;
    font-family: "Alata", sans-serif !important;
    color: #222222;
  }

  @media screen and (max-width: 767px) {
    .profile {
      padding: 0 20px 30px;
    }
  }

  .profile--pb78 {
    padding-bottom: 78px;
  }

  @media screen and (max-width: 767px) {
    .profile--pb78 {
      padding-bottom: 30px;
    }
  }
  
  .section-spacing-block,
  .shopify-section,
  .section {
    padding: 0 !important;
  }

  .profile__container {
    max-width: 1356px;
    border-top: 1px solid rgba(34, 34, 34, 0.5);
    margin: 0 auto;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    .profile__container {
      border: none;
    }
  }

  .profile__col-left {
    /* border: 1px solid red; */
    min-width: 240px;
    padding: 0 15px;
  }

  .profile__col-right {
    width: 100%;
  }

  .profile__info-block {
    display: flex;
    gap: 18px;
    padding: 27px 0  25px;
  }

  .profile__menu-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .profile__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .profile__menu-item {
    text-transform: capitalize;
    transition: all 0.3s ease;
  }

  .profile__menu-item:hover {
    color: rgba(34, 34, 34, 0.5);
  }

  .profile__image-block {
    min-width: 50px;
    height: 50px;
    border: 1px solid #222222;
    overflow: hidden;
  }

  .profile__info-desc {
    font-size: 10px;
    display: block;
    color: rgba(34, 34, 34, 0.5);
  }
  .profile__info-desc--name {
    font-size: 14px;
    display: block;
    text-transform: capitalize;
  }

  .profile__order-heading-wrap {
    display: flex;
    justify-content: space-between;
    padding: 44px 40px 37px 13px ;
  }


  @media screen and (max-width: 767px) {
    .profile__order-heading-wrap {
      padding: 20px 0;
    }
  }

  .profile__order-heading {
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;
  }

  @media screen and (max-width: 767px) {
    .profile__order-heading {
      font-size: 20px;
    }
  }
    
  .profile__order-container {
    margin: 0 30px 0 10px;
    padding: 0 35px 0 30px;
    border: 1px solid rgba(34, 34, 34, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width: 767px) {
    .profile__order-container {
      margin: 0 auto;
      padding: 0;
    }
  }

  .profile__order-container--pad0 {
    padding: 0;
  }

  .profile__order-block {
    padding: 17px 0 18px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  }

  .profile__order-block-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    padding: 0;
  }

  .profile__order-block-item {
    /* border: 1px solid green; */
    list-style: none;
    display: flex;
    gap: 16px;
  }

  .profile__order-button-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .profile__order-img-wrap {
    min-width: 100px;
    height: 100px;
    /* border: 1px solid; */
  }

  .profile__order-cat-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  .flex-start {
    justify-content: flex-start;
    gap: 90px;
  }

  .profile__order-cat-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 24px 15px 16px;
    transition: all 0.3s ease;
  }
  
  .profile__order-cat-link:hover {
    border-bottom: 1px solid #222222;
    text-decoration: none;
  }

  .profile__order-cat-link--active {
    border-bottom: 1px solid #222222;
  }

  .profile__order-button-wrap {
    display: flex;
    gap: 8px;
  }

  .profile__order-btn-link {
    width: 130px;
    height: 45px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    transition: all 0.3s ease;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 5px;
  }

  .profile__order-btn-link:hover {
    color: #000;
    background-color: #fff;
  }

  .profile__order-btn-link--white {
    color: #000;
    background-color: #fff;
  }

  .profile__order-desc-wrap span {
    display: block;
  }

  .profile__order-filer {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: rgba(34, 34, 34, 0.5);
  }

  .profile__order-date-wrap {
    display: flex;
  }
  
  .profile__order-date-wrap span {
    font-size: 12px;
    color: rgba(34, 34, 34, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 12px;
    display: flex;
  }

  .profile__order-date {
    padding-right: 10px;
    border-right: 1px solid rgba(34, 34, 34, 0.5);
  }
  .profile__order-status {
    padding-left: 10px;
  }

  .profile__order-item-name {
    font-size: 14px;
    line-height: 20px;
  }

  .profile__order-item-variant,
  .profile__order-item-qty,
  .profile__order-item-price {
    font-family: "Poppins", sans-serif !important;
    font-size: 12px;
    line-height: 20px;
  }

  .profile__order-item-sub {
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #FF2C2C;
    padding: 0 5px;
    border: 1px solid #FF2C2C;
    width: fit-content;
    text-transform: uppercase;
  }

  .profile__order-ttl-wrap {
    display: flex;
    align-items: center;
  }

  .profile__order-ttl-txt {
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 10px;
    letter-spacing: 1px;
  }

  .profile__order-ttl-price {
    font-size: 24px;
    letter-spacing: 1px;
  }

  .toggle-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    user-select: none;
    width: 20px;
    height: 20px;
    background-image: url(https://cdn.shopify.com/s/files/1/0723/0839/2168/files/hide.png?v=1746473941);
    background-size: 100%;
  }

  .profile__account-info-wrap {
    display: flex;
    justify-content: space-between;
  }

  .profile__account-input-file {
    display: none;
  }

  .profile__account-pic-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .profile__account-pic-box {
    width: 200px;
    height: 200px;
    border: 1px solid #222222;
    margin-bottom: 30px;
  }
  
  .profile__account-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile__account-input-label {
    text-transform: uppercase;
    border: 1px solid #222;
    width: 100px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: "Alata", sans-serif !important;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .profile__account-input-note {
    color: rgba(34, 34, 34, 0.5);
    font-size: 11px;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif !important;
    text-align: center;
  }

  .hide {
    display: none !important;
  }
  
  .show {
    height: auto !important;
    transition: all 0.3s ease;
  }


  .profile-policy__container {
    color: #222222;
  }

  .profile-policy__privacy-info-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-info-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .profile-policy__privacy-info-wrap--bg {
    background-color: rgba(34, 34, 34, 0.05);
  }

  .profile-policy__privacy-info-box {
    padding: 58px 50px;
    border: 1px solid rgba(34, 34, 34, 0.1);
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-info-box {
      padding: 20px 12px 20px 20px;
    }
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-heading-box {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  .profile-policy__privacy-list {
    padding: 43px 50px 25px 40px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-list {
      padding: 20px;
      gap: 10px;
    }
  }

  .profile-policy__privacy-item {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    background: #fff;
    z-index: 2;
    text-transform: capitalize;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-item {
      font-size: 16px;
      align-items: flex-start !important;
    }
  }
  
  .profile-policy__privacy-item--col {
    flex-direction: column;
    align-items: flex-start !important;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1) !important;
  }

  .profile-policy__privacy-item-note {
    font-family: "Poppins", sans-serif !important;
    font-size: 12px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #909090;
  }

  .profile-policy__privacy-list .profile-policy__privacy-item {
    padding: 10px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
    cursor: pointer;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-list .profile-policy__privacy-item {
      padding: 5px 0;
    }
  }
  
  .profile-policy__privacy-list li:last-child .profile-policy__privacy-item {
    border-bottom: none;
  }

  .profile-policy__privacy-item-no {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif !important;
    margin-right: 17px;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-item-no {
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .profile-policy__privacy-box-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 66px;
    text-transform: capitalize;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-box-title {
      font-size: 14px;
      line-height: 24px;
    }
  }
  
  .profile-policy__privacy-box-desc {
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", sans-serif !important;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-box-desc {
      font-size: 12px;
      margin-top: 10px;
    }
  }

  .profile-policy__privacy-item-desc-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    font-family: "Poppins", sans-serif !important;
    padding: 24px 0;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-item-desc-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      padding: 24px 0 0;
    }
  }

  .profile-policy__privacy--flex {
    display: flex;
  }

  .profile-policy__privacy-item-desc-list li {
    font-size: 16px;
    font-weight: 300;
    position: relative;
    padding-left: 56px;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-item-desc-list li {
      font-size: 12px;
      padding-left: 30px;
    }
  }
  
  .profile-policy__privacy-item-desc-list li::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 7px;
    background: url("https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Vector_14.png?v=1749147799") no-repeat;
    left: 30px;
    top: 10px;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-item-desc-list li::before {
      content: "";
      left: 10px;
    }
  }

  .profile-policy__privacy-item-wrap {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .profile-policy__privacy--bt.show {
    border-top: 1px solid rgba(34, 34, 34, 0.1);
    position: relative;
  }

  .profile-policy__privacy-item-wrap p {
    font-family: "Poppins", sans-serif !important;
    font-size: 16px;
    margin-top: 33px;
    padding: 0 10px;
    letter-spacing: 1px;
    line-height: 20px;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-item-wrap p {
      font-size: 12px;
      margin-top: 24px;
      padding: 0;
      line-height: 15px;
    }
  }

  .mt10 {
    margin-top: 10px !important;
  }

  .profile-policy__privacy-item-logo {
    margin-right: 15px;
  }

  .profile-policy__privacy-info-headings {
    padding: 30px;
    background-color: rgba(34, 34, 34, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-info-headings {
      padding: 15px;
    }
  }

  .profile-policy__privacy-info-headings span {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-info-headings span {
      font-size: 10px;
      margin-bottom: 8px;
    }
  }

  .profile-policy__privacy-info-headings h2 {
    font-family: "Poppins", sans-serif !important;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    max-width: 400px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-info-headings h2 {
      font-size: 12px;
    }
  }

  .profile-policy__privacy-box-logo {
    margin: 0 0 10px -5px;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-box-logo {
      height: 20px;
      margin: 0;
    }
  }

  .profile-policy__privacy-info-footing {
    background-color: rgba(34, 34, 34, 0.05);
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 40px;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-info-footing {
      flex-direction: column;
      gap: 18px;
      padding: 30px;
    }
  }

  .profile-policy__privacy-info-footing span{
    font-size: 20px;
    letter-spacing: 1px;
    max-width: 250px;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__privacy-info-footing span{
      font-size: 14px;
      text-align: center;
    }
  } 

  .profile-policy__privacy-info-footing a {
    background: #000;
    color: #fff;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-policy__shipping-map {
    max-width: 826px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__shipping-map {
      padding: 0 10px;
    }
  }

  .profile-policy__shipping-map-desc {
    font-family: "Poppins", sans-serif !important;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #909090;
    margin: 20px 0 40px;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__shipping-map-desc {
      margin: 20px 0 25px;
    }
  }

  .profile-policy__shipping-info {
    background-color: rgba(34, 34, 34, 0.05);
    padding: 50px;
  }

  @media screen and (max-width: 767px) {
    .profile-policy__shipping-info {
      padding: 15px;
    }
  }

  .profile-policy__shipping-info-desc {
    font-family: "Poppins", sans-serif !important;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
  }


  @media screen and (max-width: 767px) {
    .profile-policy__shipping-info-desc {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 767px) {
    .profile__cat-dropdown-wrap option {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 767px) {
    .pc {
      display: none;
    }
  }

  .sp {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .sp {
      display: flex;
    }
  }
  
  @media screen and (max-width: 767px) {
    .pc {
      display: none;
    }
  }



  /* 
  font-family: "Alata", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
  */
</style>


<div class="profile profile--pb78">
  <div class="profile__container">
    {% comment %}
    <div class="profile__col-left">
      <div class="profile__info-block">
        <div class="profile__image-block">
          <img src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393" alt="" class="profile__profile-picture">
        </div>
        {% if customer %}
          <div class="profile__info-block-wrap">
            <span class="profile__info-desc profile__info-desc--name" style="color: black;">
              {{ customer.first_name }} {{ customer.last_name }}
            </span>
            <span class="profile__info-desc">
              {{ customer.phone }}
            </span>
            <span class="profile__info-desc">
              {{ customer.email }}
            </span>
          </div>
        {% endif %}
      </div>
      <div class="profile__menu-container">
        <ul class="profile__menu-list">
          <li class="profile__menu-item">
            <a href="/pages/profile">My Orders</a>
            </li>
          <!-- <li class="profile__menu-item">
            <a href="/pages/profile-subscription">My Subscriptions</a>
          </li> -->
        </ul>
        <ul class="profile__menu-list">
          <li class="profile__menu-item">
            <a href="/pages/profile-my-account">My Account</a>
          </li>
          <li class="profile__menu-item">
             <a href="/pages/my-wishlist">My Wishlist</a>
          </li>
        </ul>
        <ul class="profile__menu-list">
          <li class="profile__menu-item">
            <a href="/pages/profile-policies">policies</a>
          </li>
          <li class="profile__menu-item">
            <a href="#">Sign Out</a>
          </li>
        </ul>
      </div>
    </div> 
    {% endcomment %}

    <div class="profile__col-right">
      <div class="profile__order-heading-wrap">
        <h2 class="profile__order-heading">Policies</h2>
        <select class="profile__cat-dropdown-wrap sp" id="tab-category" name="dropdown-category">
          <option id="pickup-sp" value="pickup-tab">PICKUP</option>
          <option id="shipping-sp" value="shipping-tab">SHIPPING</option>
          <option id="return-sp" value="return-tab">RETURN</option>
          <option id="subscription-sp" value="subscription-tab">SUBSCRIPTION</option>
          <option id="privacy-sp" value="privacy-tab">PRIVACY</option>
          <option id="payment-sp" value="payment-tab">PAYMENT</option>
          <option id="exchange-sp" value="exchange-tab">EXCHANGE</option>
        </select>
      </div>
      <div class="profile__order-container profile__order-container--pad0">
        <div class="profile__order-cat-wrap flex-start pc">
          <a href="#" id="pickup-tab" class="profile__order-cat-link profile__order-cat-link--active">pickup</a>
          <a href="#" id="shipping-tab" class="profile__order-cat-link">shipping</a>
          <a href="#" id="return-tab" class="profile__order-cat-link">return</a>
          <a href="#" id="subscription-tab" class="profile__order-cat-link">subscription</a>
          <a href="#" id="privacy-tab" class="profile__order-cat-link">privacy</a>
          <a href="#" id="payment-tab" class="profile__order-cat-link">payment</a>
          <a href="#" id="exchange-tab" class="profile__order-cat-link">exchange</a>
        </div>
          
        <!-- Pickup Section -->
        <div id="pickup-section" class="profile-policy__container" style="">
         <ol class="profile-policy__privacy-list">
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">01</span>
                In-Store Pickup Option
              </h3>
              <div class="profile-policy__privacy-item-wrap show">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>Customers may select in-store pickup at checkout. A notification will be sent via email or SMS when the order is ready for collection.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">02</span>
                Pickup Hours
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <p>Pick-up is available during standard business hours</p>
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>Monday–Thursday: 10:00 AM – 6:00 PM</li>
                  <li>Sunday: 11:00 AM – 5:00 PM</li>
                  <li>Friday: 10:00 AM – 1:00 PM</li>
                  <li>We are closed on Saturdays.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">03</span>
                Required at Pickup
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>Please present your order confirmation and a valid government-issued photo ID. If an alternate party is collecting your order, they must provide the order number and the purchaser’s full name.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">04</span>
                Order Holding Period
              </h3>
              <div class="profile-policy__privacy-item-wrap profile-policy__privacy--bt">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>Orders will be held for a maximum of 7 calendar days from the date of fulfillment notification. Unclaimed orders may be subject to automatic cancellation and refund.</li>
                </ul>
              </div>
            </li>
           

          </ol>
        </div>
        
        <!-- Shipping Section -->
        <div id="shipping-section" class="profile-policy__container hide">
          <ol class="profile-policy__privacy-list">
            <li>
              <h3 class="profile-policy__privacy-item profile-policy__privacy-item--col">
                Shipping and Handling<br>
                <span class="profile-policy__privacy-item-note">FREE SHIPPING On orders of $200 or more! </span>
              </h3>
              
              <div class="profile-policy__privacy-item-wrap show">
                <p class="mt10">Flat Rate Shipping rates are as follows:</p>
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>Orders up to $49.99 - $15.00 Flat Rate Shipping</li>
                  <li>Orders $150.00 - $199.99 - $30.00 Flat Rate Shipping</li>
                  <li>Orders $50.00 - $99.99 - $20.00 Flat Rate Shipping</li>
                  <li>Orders of $200.00 and more are shipped for FREE!</li>
                  <li>Orders $100.00 - $149.99 - $25.00 Flat Rate Shipping</li>             
                </ul>
              </div>
            </li>
          </ol>
          <div class="profile-policy__shipping-map">
            <img src='https://cdn.shopify.com/s/files/1/0723/0839/2168/files/image_1.png?v=1749671198'>
            <p class="profile-policy__shipping-map-desc">
              Standard Delivery charges are intended to cover the costs incurred to process, prepare, and transport your order and related customer service. Standard rates are based on the non-sale price, as detailed in the charts above. <strong>We don't ship to these locations:</strong> Alaska, Hawaii & Canada Deliveries. <strong>P.O. Box Deliveries:</strong> Shipping to a P.O. Box will incur a surcharge of $5.95. 
            </p>
          </div>
          <div class="profile-policy__shipping-info">
            <p class="profile-policy__shipping-info-desc">
              <strong>Delivery Guarantee:</strong> While we make every effort to ensure the accuracy of all information, we can only ship to the address the buyer puts into the SHIP TO section of the order. Please check all addresses carefully. Postal and delivery services will not forward. We guarantee delivery only to the addresses we are given. Once an order is classified as “delivered” by the carrier (UPS, USPS, ETC.) to the ship to address, the seller (The Closeout Connection) will not replace or refund lost or stolen merchandise. Any undeliverable or wrong address (Entered by buyer) will be refunded if returned to seller.
            </p>
          </div>
        
        </div>
        
        <!-- Return Section -->
        <div id="return-section" class="profile-policy__container hide">
          <ol class="profile-policy__privacy-list">
            <li>
              <h3 class="profile-policy__privacy-item">
                <img class="profile-policy__privacy-item-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Vector_15.png?v=1749230121">
                How do I return an item?
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <p class="mt10">If you are not completely satisfied with your purchase, you may return the item(s). We want you to be completely satisfied with your shopping experience at thecloseoutconnection.com. Please read the information below & follow the instructions in our return process to ensure your return is handled promptly & accurately.</p>
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>You have 30 days after you receive your order to return any of the items you received (excluding seasonal goods).</li>
                  <li>All items must be unopened and in their original packaging to be acceptable for return.</li>
                  <li>You have 10 days to notify us of any discrepancies with the item(s).</li>
                  <li>Return shipping is paid for by the buyer and a 10% restocking fee will be charged.</li>
                  <li>Seasonal goods will not be accepted after the season or holiday has ended.</li>
                  <li>The refund will be processed only after we receive the return.</li>
                </ul>
              </div>
            </li>
          </ol>
          <div class="profile-policy__privacy-info-headings">
            <span>Returns are shipped to</span>
            <h2>134 wASHINGTON AVE, CEDARHUST, NEW YORK, 11516</h2>
          </div>
          <div class="profile-policy__privacy-info-wrap">
            <div class="profile-policy__privacy-info-box">
              <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/mdi_glass-broken.png?v=1749231048">
              <p class="profile-policy__privacy-box-desc">
                Any defective, broken, or mistakenly shipped item can be returned within 15 days of receipt for a full refund without a return shipping or restocking fee. The return shipping will only be paid for by the seller if you use a return shipping label provided by The Closeout Connection.
              </p>
            </div>
            <div class="profile-policy__privacy-info-box">
              <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/ic_sharp-assignment-returned.png?v=1749231048">
              <p class="profile-policy__privacy-box-desc">
                Merchandise can also be returned to our retail locations for immediate store credit. A refund can also be issued only after the store manager notifies the online department that the item was returned unopened. The refund is processed by the online department, not the retail store.
              </p>
            </div>
            <div class="profile-policy__privacy-info-box">
              <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/material-symbols_delivery-truck-speed.png?v=1749231048">
              <p class="profile-policy__privacy-box-desc">
                Delivery Guarantee: While we make every effort to ensure the accuracy of all information, we can only ship to the address the buyer puts into the SHIP TO section of the order. Please check all addresses carefully.
              </p>
            </div>
            <div class="profile-policy__privacy-info-box">
              <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/ph_mailbox-fill.png?v=1749231048">
              <p class="profile-policy__privacy-box-desc">
                Postal and delivery services will not forward. We guarantee delivery only to the addresses we are given.
              </p>
            </div>
            <div class="profile-policy__privacy-info-box">
              <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/mdi_package-delivered.png?v=1749231048">
              <p class="profile-policy__privacy-box-desc">
                Once an order is classified as “delivered” by the carrier (UPS. USPS, etc.) to the ship to address, the seller, (The Closeout Connection) will not replace or refund lost or stolen merchandise. 
              </p>
            </div>
            <div class="profile-policy__privacy-info-box">
              <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/ri_refund-fill.png?v=1749231048">
              <p class="profile-policy__privacy-box-desc">
                Any undeliverable or wrong address (entered by buyer) will be refunded if returned to seller.
              </p>
            </div>
          </div>
          <div class="profile-policy__privacy-info-footing">
            <span>For more questions about returns</span>
            <a href="/pages/contact">contact us</a>
          </div>
        </div>
        
        <!-- Subscription Section -->
        <div id="subscription-section" class="profile-policy__container hide">
          <ol class="profile-policy__privacy-list">
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">01</span>
                Subscription Continuation & Cancellation
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>Your subscription with The Closeout Connection will continue until canceled. You may manage or cancel your subscription at any time from the My Profile page.</li>
                  <li>Unless you notify us before your renewal date that you wish to cancel, your subscription will automatically renew, and you authorize us (without notice to you)—unless otherwise required by law—to charge the applicable subscription fee and any taxes using any eligible payment method we have on file for you.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">02</span>
                Subscription Fee
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>The subscription fee is shown on the applicable subscription detail page. It is non-refundable unless otherwise stated in these Terms. Taxes may apply depending on your location.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">03</span>
                Payment Method
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>If your saved payment method is declined, you must provide a new eligible payment method promptly. Failure to do so will result in cancellation of your subscription.</li>
                  <li>Once a valid method is updated and successfully charged, your new subscription period will begin based on the subscription type.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">04</span>
                Renewal & Promotions
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>You will be charged the subscription fee (minus any eligible promotions) whenever we ship your subscription.</li>
                  <li>Subscriptions automatically renew until canceled. You may visit [Placeholder] to view your renewal dates and plan details.</li>
                  <li>Ending a promotion does not end your subscription.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">05</span>
                Pricing Policy
              </h3>
              <div class="profile-policy__privacy-item-wrap profile-policy__privacy--bt">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>The price of your subscription is calculated at the time the order is created and will not be updated later, even if prices change afterward.</li>
                </ul>
              </div>
            </li>

          </ol>
        </div>
        
        <!-- Privacy Section -->
        <div id="privacy-section" class="profile-policy__container hide">
          <ol class="profile-policy__privacy-list">
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">01</span>
                What information do we collect?
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>We collect information from you when you register on the site, place an order, enter a contest or sweepstakes, respond to a survey or communication such as e-mail, or participate in another site feature.</li>
                  <li>When ordering or registering, we may ask you for your name, e-mail address, mailing address, phone number, credit card information or other information. You may, however, visit our site anonymously.</li>
                  <li>We also collect information about gift recipients so that we can fulfill the gift purchase. The information we collect about gift recipients is not used for marketing purposes.</li>
                  <li>Like many websites, we use "cookies" to enhance your experience and gather information about visitors and visits to our websites. Please refer to the "Do we use 'cookies'?" section below for information about cookies and how we use them.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">02</span>
                How do we use your information?
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <p>We may use the information we collect from you when you register, purchase products, enter a contest or promotion, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>To personalize your site experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                  <li>To allow us to better service you in responding to your customer service requests.</li>
                  <li>If you have opted-in to receive our e-mail newsletter, we may send you periodic e-mails. If you would no longer like to receive promotional e-mail from us, please refer to the "How can you opt-out, remove or modify information you have provided to us?" section below. </li>
                  <li>If you have not opted-in to receive e-mail newsletters, you will not receive these e-mails. Visitors who register or participate in other site features such as marketing programs and 'members-only' content will be given a choice whether they would like to be on our e-mail list and receive e-mail communications from us.</li>
                  <li>To quickly process your transactions.</li>
                  <li>To administer a contest, promotion, survey or other site feature.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">03</span>
                How do we protect visitor information?
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>We implement a variety of security measures to maintain the safety of your personal information. Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. </li>
                  <li>When you place orders or access your personal information, we offer the use of a secure server. All sensitive/credit information you supply is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our databases to be only accessed as stated above.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">04</span>
                Do we use "cookies"?
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. </li>
                  <li>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Netscape Navigator or Internet Explorer) settings. Each browser is a little different, so look at your browser Help menu to learn the correct way to modify your cookies. </li>
                  <li>For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</li>
                  <li>If you turn cookies off, you won't have access to many features that make your site experience more efficient and some of our services will not function properly. However, you can still place orders over the telephone by contacting customer service.</li>
                  <li>We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">05</span>
                Do we disclose the information we collect to outside parties?
              </h3>
              <div class="profile-policy__privacy-item-wrap profile-policy__privacy--bt">
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice, except as described below. The term "outside parties" does not include www.thecloseoutconnection.com. </li>
                  <li>We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.</li>
                  <li>It also does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. </li>
                  <li>However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</li>
                </ul>
              </div>
            </li>

          </ol>
          <div class="profile-policy__privacy-info-wrap profile-policy__privacy-info-wrap--bg">
            <div class="profile-policy__privacy-info-box">
              <div class="profile-policy__privacy-heading-box">
                <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Vector_10.png?v=1749130424">
                <h2 class="profile-policy__privacy-box-title">Third party links</h2>
              </div>
              <p class="profile-policy__privacy-box-desc">
                In an attempt to provide you with increased value, we may include third party links on our site. These linked sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these linked sites (including if a specific link does not work).
              </p>
            </div>
            <div class="profile-policy__privacy-info-box">
              <div class="profile-policy__privacy-heading-box">
                <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Vector_11.png?v=1749144615">
                <h2 class="profile-policy__privacy-box-title">Changes to our policy</h2>
              </div>
              <p class="profile-policy__privacy-box-desc">
                If we decide to change our privacy policy, we will post those changes on this page. Policy changes will apply only to information collected after the date of the change. This policy was last modified on August 6, 2003.
              </p>
            </div>
            <div class="profile-policy__privacy-info-box">
              <div class="profile-policy__privacy-heading-box">
                <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Vector_12.png?v=1749144615">
                <h2 class="profile-policy__privacy-box-title">Questions and feedback</h2>
              </div>
              <p class="profile-policy__privacy-box-desc">
                We welcome your questions, comments, and concerns about privacy. Please send us any and all feedback pertaining to privacy, or any other issue.
              </p>
            </div>
            <div class="profile-policy__privacy-info-box">
              <div class="profile-policy__privacy-heading-box">
                <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Vector_13.png?v=1749144615">
                <h2 class="profile-policy__privacy-box-title">Online Policy Only</h2>
              </div>
              <p class="profile-policy__privacy-box-desc">
                This online privacy policy applies only to information collected through our website and not to information collected offline.
              </p>
            </div>
            <div class="profile-policy__privacy-info-box">
              <div class="profile-policy__privacy-heading-box">
                <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Group_79.png?v=1749144615">
                <h2 class="profile-policy__privacy-box-title">Terms and Conditions</h2>
              </div>
              <p class="profile-policy__privacy-box-desc">
                Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website.
              </p>
            </div>
            <div class="profile-policy__privacy-info-box">
              <div class="profile-policy__privacy-heading-box">
                <img class="profile-policy__privacy-box-logo" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Group_1.png?v=1749144615">
                <h2 class="profile-policy__privacy-box-title">Your consent</h2>
              </div>
              <p class="profile-policy__privacy-box-desc">
                By using our site, you consent to our privacy policy.
              </p>
            </div>
          </div>
        </div>

        
        <!-- Payment Section -->
        <div id="payment-section" class="profile-policy__container hide">
          <ol class="profile-policy__privacy-list">
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">01</span>
                Accepted Payment Methods
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <p>We accept the following forms of payment:</p>
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>Major credit and debit cards (Visa, MasterCard, American Express, Discover)</li>
                  <li>PayPal (for online transactions)</li>
                  <li>Digital wallets (Apple Pay, Google Pay)</li>
                  <li>Cash and card (in-store transactions)</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">02</span>
                Sales Tax
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>Applicable sales tax will be calculated at checkout based on the shipping or pickup location.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">03</span>
                Security
              </h3>
              <div class="profile-policy__privacy-item-wrap profile-policy__privacy--bt">
                <ul class="profile-policy__privacy-item-desc-list">
                  <li>All transactions are processed securely through certified payment gateways. We do not store full payment card details on our servers.</li>
                </ul>
              </div>
            </li>
          </ol>
         
        </div>

        
        
        <!-- Exchange Section -->
        <div id="exchange-section" class="profile-policy__container hide">
          <ol class="profile-policy__privacy-list">
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">01</span>
                Return Time-frame
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>Returns are accepted within 30 days of receiving your order (excluding seasonal items). Any issues must be reported within 10 days of receipt.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">02</span>
                Condition Requirements
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>Items must be unused, returned in their original, unopened packaging, and accompanied by proof of purchase. A 10% restocking fee applies, and the customer pays for return shipping.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">03</span>
                Defective or Incorrect Items
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>If you receive a defective, broken, or incorrect item, you must return it within 15 days for a full refund, with no return shipping or restocking fee. Use the return shipping label provided by the company.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">04</span>
                In-Store Exchanges
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>You can also return merchandise to any of their physical store locations for immediate store credit. If you prefer a refund, the store manager will notify the online department, which will process the refund after verifying the item was returned unopened</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">05</span>
                Eligibility for Exchange
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>We accept exchanges within 15 days of purchase or pickup, provided the following conditions are met: <strong>(1)</strong> Items must be in new, unused condition, <strong>(2)</strong> Original packaging and tags must be intact, and <strong>(3)</strong> Proof of purchase (receipt or order confirmation) is required.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">06</span>
                Non-Exchangeable Items
              </h3>
              <div class="profile-policy__privacy-item-wrap">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>Items marked as final sale, clearance merchandise, and customized goods are not eligible for exchange.</li>
                </ul>
              </div>
            </li>
            <li>
              <h3 class="profile-policy__privacy-item">
                <span class="profile-policy__privacy-item-no">07</span>
                Exchange Procedure
              </h3>
              <div class="profile-policy__privacy-item-wrap profile-policy__privacy--bt">
                <ul class="profile-policy__privacy-item-desc-list profile-policy__privacy--flex">
                  <li>To initiate an exchange, please visit our store or contact our customer service team at info@thecloseoutconnection.com. Exchanges are subject to inventory availability.</li>
                </ul>
              </div>
            </li>
          </ol>
        </div>

        
      </div>
    </div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = {
      "pickup-tab": "pickup-section",
      "shipping-tab": "shipping-section",
      "return-tab": "return-section",
      "subscription-tab": "subscription-section",
      "privacy-tab": "privacy-section",
      "payment-tab": "payment-section",
      "exchange-tab": "exchange-section",
    };
 

    function activateTab(tabId) {
      // Remove active class from all links
      document.querySelectorAll(".profile__order-cat-link").forEach(link =>
        link.classList.remove("profile__order-cat-link--active")
      );

      // Hide all tab sections
      Object.values(tabs).forEach(sectionId =>
        document.getElementById(sectionId).classList.add("hide")
      );



      // Show selected section and highlight tab
      document.getElementById(tabId).classList.add("profile__order-cat-link--active");
      document.getElementById(tabs[tabId]).classList.remove("hide");
    }

    // Initial tab from hash
    const hash = window.location.hash;
 
    if (hash === "#shipping-tab") {
      activateTab("shipping-tab");
    }
    else if (hash === "#return-tab") {
      activateTab("return-tab");
    }
    else if (hash === "#subscription-tab") {
      activateTab("subscription-tab");
    }
    else if (hash === "#privacy-tab") {
      activateTab("privacy-tab");
    } 
    else if (hash === "#payment-tab") {
      activateTab("payment-tab");
    } 
    else if (hash === "#exchange-tab") {
      activateTab("exchange-tab");
    } 
    else {
      window.location.hash = "#pickup-tab"; // set default hash
      activateTab("pickup-tab");
    }


    // Handle tab clicks
    Object.keys(tabs).forEach(tabId => {
      document.getElementById(tabId).addEventListener("click", function (e) {
        e.preventDefault();
        window.location.hash = `#${tabId}`; // update the hash
        activateTab(tabId);
      });
    });



    // Show policy accordion content
    const accordionItems = document.querySelectorAll(".profile-policy__privacy-list li");
    accordionItems.forEach((item) => {
      const accordionHeader = item.querySelector(".profile-policy__privacy-item");
      const accordionContent = item.querySelector(".profile-policy__privacy-item-wrap");
    
      if (accordionHeader && accordionContent) {
        accordionHeader.addEventListener("click", () => {
          accordionContent.classList.toggle("show");
        });
      }
    });

      
    // For Mobile dropdown option
    const dropdown = document.getElementById('tab-category');
    window.tabValue = dropdown.value;
    console.log('Initial selected value:', dropdown.value);
    
    dropdown.addEventListener('change', function () {
      const selectedValue = this.value;
      console.log('Changed selected value:', selectedValue);
    
      // Update window.tabValue and location hash
      window.tabValue = selectedValue;
      window.location.hash = `#${selectedValue}`;
    
      // Activate the appropriate tab
      if (selectedValue === "shipping-tab") {
        activateTab("shipping-tab");
      }
      else if (selectedValue === "return-tab") {
        activateTab("return-tab");
      }
      else if (selectedValue === "subscription-tab") {
        activateTab("subscription-tab");
      }
      else if (selectedValue === "privacy-tab") {
        activateTab("privacy-tab");
      }
      else if (selectedValue === "payment-tab") {
        activateTab("payment-tab");
      }
      else if (selectedValue === "exchange-tab") {
        activateTab("exchange-tab");
      }
      else {
        // Default to pickup-tab
        dropdown.value = "pickup-tab";
        window.tabValue = "pickup-tab";
        activateTab("pickup-tab");
        window.location.hash = "#pickup-tab";
      }
    });

    
  });
  
</script>
