<style>
  span{
    font-family: 'Alata', sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
  }
  
  .main-div {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgba(22,22,22,0.03);
    margin: 16px 21px;
    flex-direction: column;
    align-items: center;
    gap: 51px;
    padding: 24px 30px;
  }

  .profile-details-container {
    display: flex;
    flex-direction: column;
  }
</style>

<div class="main-div">
  <div style="width: 100%; height: fit-content; display: flex; align-items: center; justify-content: center; gap: 18px;">
    {% if customer %}
    <img
      src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
      alt=""
      width="50px"
      height="50px"
      style="border: 1px solid rgba(22,22,22);"
    >
    <div class="profile-details-container">
      <span style="font-size: 14px;">{{ customer.first_name }} {{ customer.last_name }}</span>
      <span style="font-size: 10px; color: rgba(22,22,22,0.5);">{{ customer.phone }}</span>
      <span style="font-size: 10px; color: rgba(22,22,22,0.5);">{{ customer.email }}</span>
    </div>
    {% endif %}
  </div>
  <div style="width: 100%; height: fit-content; display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); background-color: blue; justify-items: center; row-gap: 42px;">
    <button style="display: flex; flex-direction: column; gap: 4px; background-color: yellow; width: fit-content; height: fit-content; align-items: center;">
      <img
        src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
        alt=""
        width="25px"
        height="25px"
      >
      <span style="font-size: 12px;">My Orders</span>
    </button>
    <button style="background-color: green; width: 50px; height: 50px;">Button 2</button>
    <button style="background-color: green; width: 50px; height: 50px;">Button 3</button>
    <button style="background-color: yellow; width: 50px; height: 50px;">Button 4</button>
  </div>
</div>
