<style>
  .custom-heading {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
  }
</style>

<div style="display: flex; flex-direction: column; width: 100%; background-color: grey;">
  <div style="display: flex; width: 100%;">
    <span class="custom-heading" style="font-size: 20px;">My Wishlist</span>
  </div>
</div>

<script>
  
</script>