<style>
  .custom-heading {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
  }
</style>

<div style="display: flex; flex-direction: column; width: 100%; padding-top: 34px; padding-bottom: 34px; gap: 15px;">
  <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
    <span class="custom-heading" style="font-size: 20px;">My Wishlist</span>
    <button style="display: flex; width: fit-content; height: fit-content; align-items: center; gap: 6px;">
      <span style="font-size: 12px;">FILTER</span>
      <img
        src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
        alt=""
        width="10px"
        height="10px"
        style="width: 10px; height: 10px;"
      >
    </button>
  </div>
  <div style="display: grid; grid-template-columns: repeat(2, minmax(0, 1fr));">
    <div style="display: flex; width: 100%; height: fit-content;">
      <img
        src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
        alt=""
        width="100%"
        height="100px"
        style="width: 190px; height: 190px; position: static;"
      >
    </div>
  </div>
</div>

<script>
  
</script>