<style>
  .custom-heading {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
  }
</style>

<div style="display: flex; flex-direction: column; width: 100%; background-color: grey;">
  <div style="display: flex; width: 100%; justify-content: space-between;">
    <span class="custom-heading" style="font-size: 20px;">My Wishlist</span>
    <button>
      <span>FILTER</span>
      <img
        src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
        alt=""
        width="10px"
        height="10px"
      >
    </button>
  </div>
  <div>
    OTHER DIV
  </div>
</div>

<script>
  
</script>