<section class=" x:flex x:flex-col x:items-center x:border-t-2">
    {% comment %} CONTACT US SECTION {% endcomment %}
  <div class="container x:w-[70rem] x:flex x:flex-col x:gap-5">

    <div class="section x:flex x:flex-col x:gap-5">
        <div class="x:flex x:justify-center x:flex-col x:items-center x:mb-[6rem]">
          <h1 class="x:uppercase">need help? send us a message</h1>
          <span>To get help with your online purchase, contact us at 718-854-2595 or use the form below.</span>
        </div>
    
        <div class="x:flex x:flex-col x:items-center x:w-full x:gap-5">
          {% comment %} FIRST NAME & LAST NAME INPUTS {% endcomment %}
          <div class="x:flex x:gap-5 x:w-full">
            {% comment %} FIRST NAME INPUT {% endcomment %}
            <div class="x:relative x:group x:w-full">
              <input placeholder="First Name" class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full">
    
              <div class="x:absolute x:flex x:items-center x:left-3 x:top-1/2 x:-translate-y-1/2 x:gap-3">
                <i>
                  {%- render 'icon' with 'user', class: 'user' -%}
                </i>
              </div>
            </div>
    
            {% comment %} LAST NAME INPUT {% endcomment %}
            <div class="x:relative x:group x:w-full">
              <input placeholder="Last Name" class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full">
    
              <div class="x:absolute x:flex x:items-center x:left-3 x:top-1/2 x:-translate-y-1/2 x:gap-3">
                <i>
                  {%- render 'icon' with 'user', class: 'user' -%}
                </i>
              </div>
            </div>
          </div>
    
          {% comment %} EMAIL INPUT {% endcomment %}
          <div class="x:w-full">
            <div class="x:relative x:group x:w-full">
              <input placeholder="Email" class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full">
    
              <div class="x:absolute x:flex x:items-center x:left-3 x:top-1/2 x:-translate-y-1/2 x:gap-3">
                <i>
                  {%- render 'icon' with 'email', class: 'email' -%}
                </i>
              </div>
            </div>
          </div>
    
          {% comment %} REASON INPUT SECTION {% endcomment %}
          <div class="x:w-full">
            <div class="x:border-2 x:border-black x:p-5 x:flex x:flex-col x:gap-5">
              {% comment %} REASON HEADER {% endcomment %}
              <div class="x:flex x:items-center x:gap-3">
                {%- render 'icon' with 'question-circle' -%}
                <label class="x:capitalize">reason for contacting</label>
              </div>
    
              <div class="x:flex x:flex-col x:ml-5">
                {% comment %} SHIPPING CHECKBOX {% endcomment %}
                <div class="x:flex x:items-center x:gap-3">
                  <input type="checkbox" class="x:w-6 x:h-6 x:accent-black">
                  <label class="x:capitalize x:text-xl">shipping</label>
                </div>
    
                {% comment %} PRODUCT CHECKBOX {% endcomment %}
                <div class="x:flex x:items-center x:gap-3">
                  <input type="checkbox" class="x:w-6 x:h-6 x:accent-black">
                  <label class="x:capitalize x:text-xl">Product</label>
                </div>
    
                {% comment %} OTHERS CHECKBOX WITH INPUT {% endcomment %}
                <div class="x:flex x:items-center x:gap-3">
                  <input type="checkbox" class="x:w-6 x:h-6 x:accent-black">
                  <div class="x:flex x:items-center x:gap-3">
                    <label class="x:capitalize x:text-xl">others:</label>
                    <input placeholder="Please specify..." class="x:border-b-2 x:border-black">
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          {% comment %} MESSAGE TEXT AREA SECTION {% endcomment %}
          <div class="x:w-full x:border-2 x:border-black x:p-5">
            <div class="x:relative">
              <i class="x:absolute">
                {%- render 'icon' with 'message' -%}
              </i>
          
              <textarea
                placeholder="Type Your Message Below"
                class="x:w-full x:pl-10 x:pr-4 x:pb-4 x:text-base x:resize-none x:outline-none"
                rows="4"
              ></textarea>
            </div>
          </div>
          
    
          <div class="x:w-full">
            <button class="x:w-full x:border x:border-black x:bg-[#222222] x:text-white x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:h-[3.75rem] x:uppercase">submit</button>
          </div>
        </div>
    </div>
  </div>

  {% comment %} FAQ SECTION {% endcomment %}
  <div class="container x:border-t-2 x:w-full">
    <div class="section x:flex x:flex-col x:gap-5">
        {% comment %} FAQ HEADER {% endcomment %}
        <div class="x:flex x:justify-center x:flex-col x:items-center x:mb-[6rem]">
            <h1 class="x:uppercase">frequently asked questions</h1>
            <span>Find quick answers to common questions about your order, shipping, returns, and more.</span>
        </div>
    
        {% comment %} FAQ BUTTONS SECTION {% endcomment %}
         <div class="x:flex x:w-full x:justify-between x:my-5">
            <button class="x:border x:border-black x:text-black x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:w-[21.875rem] x:h-[3.75rem] x:uppercase">orders</button>
            <button class="x:border x:border-black x:text-black x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:w-[21.875rem] x:h-[3.75rem] x:uppercase">returns</button>
            <button class="x:border x:border-black x:text-black x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:w-[21.875rem] x:h-[3.75rem] x:uppercase">pick-up</button>
            <button class="x:border x:border-black x:text-black x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:w-[21.875rem] x:h-[3.75rem] x:uppercase">payment</button>
         </div>
    
         {% comment %} FAQ SELECTION SECTION {% endcomment %}
         <div class="x:flex x:flex-col x:gap-5">
            <div class="x:border-2 x:border-black x:px-3 x:py-4 x:flex x:justify-between x:items-center x:group x:transition-all x:duration-300 x:hover:cursor-pointer">
                <label class="x:group-hover:ml-5 x:transition-all x:duration-300">How do I plae an order?</label>
                <i class="x:group-hover:scale-125 x:transition-all x:duration-300">
                    {%- render 'icon' with 'plus' -%}
                </i>
            </div>
            
            <div class="x:border-2 x:border-black x:px-3 x:py-4 x:flex x:justify-between x:items-center x:group x:transition-all x:duration-300 x:hover:cursor-pointer">
                <label class="x:group-hover:ml-5 x:transition-all x:duration-300">Where can i track my orders?</label>
                <i class="x:group-hover:scale-125 x:transition-all x:duration-300">
                    {%- render 'icon' with 'plus' -%}
                </i>
            </div>
    
            <div class="x:border-2 x:border-black x:px-3 x:py-4 x:flex x:flex-col x:justify-between x:group x:transition-all x:duration-300 x:hover:cursor-pointer ">
                <div class="x:flex x:justify-between x:items-center x:w-full">
                    <label class="x:group-hover:ml-5 x:transition-all x:duration-300 x:font-bold">When will my order be processed and shipped?</label>
                    <i class="x:group-hover:scale-125 x:transition-all x:duration-300">
                        {%- render 'icon' with 'minus' -%}
                    </i>
                </div>
    
                <p class="">
                    We aim to process all orders within 1–2 business days. You will receive a confirmation email with tracking details once your order has shipped.
                </p>
    
                
            </div>
    
            <div class="x:border-2 x:border-black x:px-3 x:py-4 x:flex x:justify-between x:items-center x:group x:transition-all x:duration-300 x:hover:cursor-pointer">
                <label class="x:group-hover:ml-5 x:transition-all x:duration-300">Can I make changes to my order after placing it?</label>
                <i class="x:group-hover:scale-125 x:transition-all x:duration-300">
                    {%- render 'icon' with 'plus' -%}
                </i>
            </div>
    
            <div class="x:border-2 x:border-black x:px-3 x:py-4 x:flex x:justify-between x:items-center x:group x:transition-all x:duration-300 x:hover:cursor-pointer">
                <label class="x:group-hover:ml-5 x:transition-all x:duration-300">Are all the closeout connection products posted available in physical stores?</label>
                <i class="x:group-hover:scale-125 x:transition-all x:duration-300">
                    {%- render 'icon' with 'plus' -%}
                </i>
            </div>
         </div>
    </div>
  </div>

  {% comment %} BOTTOM BANNER {% endcomment %}
  <div class="x:h-[7rem] x:bg-[#222222] x:w-full x:flex x:justify-center x:items-center x:gap-10 x:text-white">
    <div class="x:flex x:flex-col">
      <h2 class="x:uppercase">free shipping on orders over $200</h2>
      <span>Get alerts about new items, sales, and more.</span>
    </div>

    <button class="x:border x:border-white x:text-white x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:w-[21.875rem] x:h-[3.75rem] x:uppercase">
      get started
    </button>
  </div>
</section>
