<div class="custom-col-slider__container">
  <div class="custom-col-slider__slider-wrap">
    <div class="custom-col-slider__slider splide js-collection-slider">
      <div class="custom-col-slider__slider-track splide__track">
        <div class="custom-col-slider__slider splide__slide">Slider 01</div>
        <div class="custom-col-slider__slider splide__slide">Slider 02</div>
        <div class="custom-col-slider__slider splide__slide">Slider 03</div>
        <div class="custom-col-slider__slider splide__slide">Slider 04</div>
        <div class="custom-col-slider__sliders plide__slide">Slider 05</div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Collection Slider",
    "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "id_img"
        },
        {
          "type": "text",
          "label": "Header",
          "id": "id_header"
        },
        {
          "type": "richtext",
          "label": "Content",
          "id": "id_content"
        },
        {
        "type": "select",
        "id": "flex_direction",
        "label": "Flex Direction",
        "options": [
          {
            "value": "row",
            "label": "Row"
          },
          {
            "value": "row-reverse",
            "label": "Row Reverse"
          }
        ],
        "default": "row"
      }
    ],
    "blocks": [
      
    ],
    "presets": [
      {
        "name": "Custom Collection Slider"
      }
    ],
    "max_blocks": 4
  }
{% endschema %}