<section class="x:border-t-2">
  <div class="container x:flex x:flex-col x:py-10">
    <div class="x:flex x:items-center x:flex-col x:gap-3">
      <h1 class="x:uppercase x:font-normal">your shopping cart: # items</h1>
      <span>Review your items and save big — with curbside pickup now available at checkout!</span>
      {% comment %} PROGRESS LABEL {% endcomment %}
      <div class="x:flex x:items-center x:gap-3 x:justify-center x:text-[#222222]/50">
        <span class="x:uppercase x:underline">cart</span>
        {%- render 'icon' with 'arrow-right' -%}
        <span class="x:uppercase">checkout</span>
        {%- render 'icon' with 'arrow-right' -%}
        <span class="x:uppercase">confirmation</span>
      </div>
    </div>

    {% comment %} ITEM GRID {% endcomment %}
    <div class="x:flex x:flex-col x:gap-3 x:border-b-2 x:py-10">
      {% comment %} GRID HEADER {% endcomment %}
      <div class="x:grid x:grid-cols-[5rem_10rem_repeat(6,_1fr)_4rem] x:py-5 x:px-2 x:border-b-2">
        <input type="checkbox" checked class="x:accent-black x:h-6 x:w-6">
        <span class="x:uppercase">all items</span>
        <span class="x:uppercase x:text-center">product</span>
        <span class="x:uppercase x:text-center">variation</span>
        <span class="x:uppercase x:text-center">unit price</span>
        <span class="x:uppercase x:text-center">quantity</span>
        <span class="x:uppercase x:text-center">total price</span>
        <span class="x:uppercase x:text-center">actions</span>
      </div>

      {% comment %} GRID ROW {% endcomment %}
      <div class="x:grid x:grid-cols-[5rem_10rem_repeat(6,_1fr)_1rem] x:items-center x:bg-[#222222]/5 x:py-4 x:px-5">
        <input type="checkbox" checked class="x:accent-black x:h-6 x:w-6">
        <div class="x:bg-gray-400 x:h-[6.25rem] x:w-[6.25rem]"></div>
        <span>Organic Hammered Plates Blue/Gold Rim-10cttle</span>
        <span class="x:text-center">Gold, 9" Lunch Plate</span>
        <span class="x:text-center">$5.69</span>
        <span class="x:text-center">2</span>
        <span class="x:text-center">$11.38</span>
        <div class="x:flex x:flex-col x:gap-3 x:max-w-[9rem]">
          <button class="x:uppercase x:border-2 x:hover:border-[#222222] x:py-1 x:px-2 x:text-center x:text-[#f0f0f0] x:bg-[#222222] x:hover:text-[#222222] x:hover:bg-transparent x:text-sm">
            update item
          </button>
          <button class="x:uppercase x:border-2 x:hover:border-[#222222] x:py-1 x:px-2 x:text-center x:text-[#f0f0f0] x:bg-[#222222] x:hover:text-[#222222] x:hover:bg-transparent x:text-sm">
            remove item
          </button>
          <button class="x:uppercase x:border-2 x:hover:border-[#222222] x:py-1 x:px-2 x:text-center x:text-[#f0f0f0] x:bg-[#222222] x:hover:text-[#222222] x:hover:bg-transparent x:text-sm">
            find similar
          </button>
        </div>
      </div>

    

      <div class="x:flex x:justify-between">
        <div class="x:flex x:flex-col x:justify-between">
          <div class="x:flex x:items-center x:gap-3">
            <label class="x:uppercase x:font-medium">selected:</label>
            <span class="x:uppercase x:text-4xl x:font-medium">3 items</span>
          </div>

          <div class="x:flex x:gap-3">
            <button class="x:w-full x:border x:border-[#222222] x:text-[#222222] x:tracking-wider x:items-center x:justify-center x:hover:bg-[#222222] x:hover:text-white x:transition x:py-2 x:px-3 x:uppercase x:text-nowrap">
              remove all items
            </button>
            <button class="x:w-full x:border x:border-[#222222] x:text-[#222222] x:tracking-wider x:items-center x:justify-center x:hover:bg-[#222222] x:hover:text-white x:transition x:py-2 x:px-3 x:uppercase x:text-nowrap">
              move to wishlist
            </button>
          </div>
        </div>

        <div class="x:flex x:flex-col x:items-center x:gap-3">
          <div class="x:flex x:items-center x:gap-3">
            <label class="x:uppercase x:font-medium">total:</label>
            <span class="x:uppercase x:text-4xl x:font-medium">$85.35</span>
          </div>

          <div class="x:flex x:flex-col">
            <span class="x:text-xs x:text-[#222222]/50">Tax will be calculated at checkout</span>
            <button class="x:w-full x:border x:border-[#222222] x:text-[#f0f0f0] x:bg-[#222222] x:tracking-wider x:items-center x:justify-center x:hover:bg-[#f0f0f0] x:hover:text-[#222222] x:transition x:py-2 x:px-3 x:uppercase x:text-nowrap x:text-center">
              checkout now
            </button>
          </div>
        </div>
      </div>
    </div>

    {% comment %} IMAGE CAROUSEL SAMPLE TEMPLATE {% endcomment %}
    {% comment %} <div class="x:py-10 x:flex x:flex-col x:gap-3">
      <!-- HEADER AND ARROW NAVIGATION BUTTONS -->
      <div class="x:flex x:justify-between">
        <label class="x:uppercase x:font-semibold x:text-xl">you may also like</label>
        <div class="x:flex x:items-center x:gap-3">
          <!-- Left arrow -->
          <button
            onclick="document.getElementById('carousel').scrollBy({ left: -250, behavior: 'smooth' })"
            class="x:border-[#222222] x:border-2 x:px-3 x:py-2 x:hover:bg-[#222222] x:hover:text-[#f0f0f0] x:transition-all x:duration-300"
          >
            {%- render 'icon' with 'chevron-left' -%}
          </button>

          <!-- Right arrow -->
          <button
            onclick="document.getElementById('carousel').scrollBy({ left: 250, behavior: 'smooth' })"
            class="x:border-[#222222] x:border-2 x:px-3 x:py-2 x:hover:bg-[#222222] x:hover:text-[#f0f0f0] x:transition-all x:duration-300"
          >
            {%- render 'icon' with 'chevron-right' -%}
          </button>
        </div>
      </div>

      <!-- ITEM CARD CONTAINER -->
      <div
        id="carousel"
        class="x:flex x:items-start x:overflow-x-auto x:gap-3 x:scroll-smooth x:snap-x x:snap-mandatory x:scrollbar-hide"
      >
        {% for i in (1..8) %}
          <div class="x:flex x:flex-col x:max-w-[15rem] x:snap-start">
            <!-- IMAGE CONTAINER -->
            <div class="x:w-[14rem] x:h-[15rem] x:bg-gray-500"></div>

            <!-- ITEM DETAILS -->
            <div class="x:flex x:flex-col">
              <label>Fancy Square White Plastic Serving Bowl</label>
              <span>$884.00</span>
              <span>$2.69</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div> {% endcomment %}
  </div>
</section>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
