<style>
  .custom-col-slider__container {
    border: 1px solid red;
    max-width: 1381px;
    margin: 0 auto;
  }

  .custom-col-slider__list {
    display: flex;
    /* gap: 20px; */
  }

  .custom-col-slider__slide {
    width: 200px !important;
    /* height: 200px; */
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .custom-col-slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>









<section class="custom-col-slider__container splide  js-collection-slider">
  <div class="custom-col-slider__track splide__track">
    <ul class="custom-col-slider__list splide__list">
      <li class="custom-col-slider__slide splide__slide">
        <img class="custom-col-slider__img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Div_pla-slide_a3d2287f-6362-47a8-b93f-1ec37fad1c4c.png?v=1744643429">
        <span class="custom-col-slider__img-label">EVERYDAY BEDDING SETS</span>
      </li>
      <li class="custom-col-slider__slide splide__slide">
        <img class="custom-col-slider__img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Div_pla-slide_1_0cec8dc0-f0cb-4639-a23f-77e2a67f89f7.png?v=1744643429">
        <span class="custom-col-slider__img-label">COTTON BEDDING SETS</span>
      </li>
      <li class="custom-col-slider__slide splide__slide">
        <img class="custom-col-slider__img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Div_pla-slide_2.png?v=1744643429">
        <span class="custom-col-slider__img-label"><LUXURY BEDDING SETS/span>
      </li>
      <li class="custom-col-slider__slide splide__slide">
        <img class="custom-col-slider__img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Div_pla-slide_3.png?v=1744643429">
        <span class="custom-col-slider__img-label">COMFORTERS</span>
      </li>
      <li class="custom-col-slider__slide splide__slide">
        <img class="custom-col-slider__img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Div_image-shop-btn-overlay-container.png?v=1744643429">
        <span class="custom-col-slider__img-label">FITTED SHEETS</span>
      </li>
      <li class="custom-col-slider__slide splide__slide">
        <img class="custom-col-slider__img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Image_fullImg_f2d57c0b-2882-486b-b455-4e6f5e11dbe1.png?v=1744643429">
        <span class="custom-col-slider__img-label">PILLOWS</span>
      </li>
      <li class="custom-col-slider__slide splide__slide">
        <img class="custom-col-slider__img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/CC_Brand_Shoot-88_1.png?v=1744643429">
        <span class="custom-col-slider__img-label">MATTRESS</span>
      </li>
      

    </ul>
  </div>
</section>

{% schema %}
  {
    "name": "Custom Collection Slider",
    "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "id_img"
        },
        {
          "type": "text",
          "label": "Header",
          "id": "id_header"
        },
        {
          "type": "richtext",
          "label": "Content",
          "id": "id_content"
        },
        {
        "type": "select",
        "id": "flex_direction",
        "label": "Flex Direction",
        "options": [
          {
            "value": "row",
            "label": "Row"
          },
          {
            "value": "row-reverse",
            "label": "Row Reverse"
          }
        ],
        "default": "row"
      }
    ],
    "blocks": [
      
    ],
    "presets": [
      {
        "name": "Custom Collection Slider"
      }
    ],
    "max_blocks": 4
  }
{% endschema %}