<style>
  label {
    font-size: 1.25rem;
    text-transform: capitalize;
  }

  .custom-contact__checkbox {
    width: calc(var(--x-spacing) * 6);
    height: calc(var(--x-spacing) * 6);
    accent-color: #000000;
    position: static;
    flex-shrink: 0;
  }
  
  .custom-contact__container {
    width: 70rem;
    display: flex;
    flex-direction: column;
    gap: calc(var(--x-spacing) * 5);
  }

  .custom-contact__first-last-name {
    display: flex;
    gap: calc(var(--x-spacing) * 5);
    width: 100%;
  }

  .custom-contact__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .custom-contact__heading {
    text-transform: uppercase;
    font-size: 40px;
  }

  .custom-contact__icon-container {
    margin-left: 12px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    translate: var(--tw-translate-x) calc((1/2) * -100%);
    top: calc((1/2) * 100%);
  }

  .custom-contact__input {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    font-size: 16px;
    outline: none;
  }

  .custom-contact__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: calc(var(--x-spacing) * 5);
  }

  .custom-contact__input-wrap {
    position: relative;
    width: 100%;
    height: 60px
  }

  .custom-contact__reason-container {
    border: 2px solid black;
    padding: 15px 8px 15px 8px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--x-spacing) * 5);
    width: 100%
  }

  .custom-contact__reason-options {
    display: flex;
    flex-direction: column;
    padding-left: calc(var(--x-spacing) * 5);
    width: 100%;
    height: fit-content;
    gap: calc(var(--x-spacing) * 2);
  }

  .custom-contact__textarea {
    height: 100%;
    width: 100%;
    font-size: 16px;
    outline: none;
    resize: none;
  }

  .custom-contact__textarea-wrap {
    position: relative;
    width: 100%;
    height: 200px;
    border: 2px solid black;
    padding: 15px 9px 15px 0;
  }

  @media screen and (max-width: 1150px) {
    .custom-contact__heading {
      font-size: 32px;
    }
  }


  
  @media screen and (max-width: 767px) {
    label {
      font-size: 16px;
    }
    
    .custom-contact__container {
      width: 100%;
    }

    .custom-contact__first-last-name {
      gap: calc(var(--x-spacing) * 2);
    }

    .custom-contact__heading {
      font-family: "Alata", sans-serif !important;
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 20px;
      text-align: center;
    }

    .custom-contact__subheading {
      text-align: center;
      font-size: 12px;
    }

    .custom-contact__input-container {
      gap: calc(var(--x-spacing) * 2);
    }
  }
</style>

{% comment %} CONTACT MODAL {% endcomment %}
<section class="x:absolute x:h-screen x:w-screen x:bg-black/50 x:flex x:justify-center x:items-center x:z-50" hidden id="test">
  <div class="x:w-[35rem] x:h-[20rem] x:bg-white x:rounded-lg x:p-10 x:flex x:flex-col x:items-center x:justify-between">
    <div class="x:flex x:items-center x:flex-col">
        <input type="checkbox" checked class="x:accent-black x:h-10 x:w-10">
        <h2 class="x:uppercase x:font-normal">message sent successfully</h2>
    </div>

    <p class="x:text-center">
      Thank you for reaching out. Our team will review your message and get back to you within 2-3 business days. We
      appreciate your patience.
    </p>

    <div class="x:flex x:items-center x:justify-center x:gap-5 x:w-full">
        <button class="x:capitalize x:border-black x:border-2 x:py-1 x:px-2 x:hover:scale-110 x:duration-300 x:transition-all">back to home</button>
        <button class="x:capitalize x:bg-black x:text-white x:py-1 x:px-2 x:hover:scale-110 x:duration-300 x:transition-all">continue shopping</button>
    </div>
  </div>
</section>

<section class="x:flex x:flex-col x:items-center x:border-t-2">
  {% comment %} CONTACT US SECTION {% endcomment %}
  <div class="container custom-contact__container">
    <div class="section x:flex x:flex-col x:gap-5">
      <div class="custom-contact__header">
        <h1 class="custom-contact__heading">need help? send us a message</h1>
        <span class="custom-contact__subheading">To get help with your online purchase, contact us at <strong>718-854-2595</strong> or use the form below.</span>
      </div>

      <div class="custom-contact__input-container">
        {% comment %} <form> {% endcomment %}
            {% comment %} FIRST NAME & LAST NAME INPUTS {% endcomment %}
            <div class="custom-contact__first-last-name">
              {% comment %} FIRST NAME INPUT {% endcomment %}
              <div class="custom-contact__input-wrap">
                <input placeholder="First Name" class="custom-contact__input">
                <div class="custom-contact__icon-container">
                  <i>
                    {%- render 'icon' with 'user', class: 'user' -%}
                  </i>
                </div>
              </div>
    
              {% comment %} LAST NAME INPUT {% endcomment %}
              <div class="custom-contact__input-wrap">
                <input placeholder="Last Name" class="custom-contact__input">
                <div class="custom-contact__icon-container">
                  <i>
                    {%- render 'icon' with 'user', class: 'user' -%}
                  </i>
                </div>
              </div>
            </div>
    
            {% comment %} EMAIL INPUT {% endcomment %}
            <div class="x:w-full">
              <div class="custom-contact__input-wrap">
                <input placeholder="Email" class="custom-contact__input">
    
                <div style="margin-left: 10px;" class="custom-contact__icon-container">
                  <i>
                    {%- render 'icon' with 'email', class: 'email' -%}
                  </i>
                </div>
              </div>
            </div>
    
            {% comment %} REASON INPUT SECTION {% endcomment %}
            <div class="x:w-full">
              <div class="custom-contact__reason-container">
                {% comment %} REASON HEADER {% endcomment %}
                <div class="x:flex x:items-center" style="gap: 9px;">
                  {%- render 'icon' with 'question-circle' -%}
                  <label style="color: #9ca3af;">reason for contacting</label>
                </div>
    
                <div class="custom-contact__reason-options">
                  {% comment %} SHIPPING CHECKBOX {% endcomment %}
                  <div class="x:flex x:items-center x:gap-3 x:w-full">
                    <input type="checkbox" class="custom-contact__checkbox">
                    <label>shipping</label>
                  </div>
    
                  {% comment %} PRODUCT CHECKBOX {% endcomment %}
                  <div class="x:flex x:items-center x:gap-3 x:w-full">
                    <input type="checkbox" class="custom-contact__checkbox">
                    <label>Product</label>
                  </div>
    
                  {% comment %} OTHERS CHECKBOX WITH INPUT {% endcomment %}
                  <div class="x:flex x:items-center x:gap-3 x:w-full">
                    <input type="checkbox" class="custom-contact__checkbox">
                    <div class="x:flex x:items-center x:gap-3 x:w-full x:pr-5">
                      <label>others:</label>
                      <input placeholder="Please specify..." class="custom-contact__input" style="border-top: 0; border-right: 0; border-left: 0; border-bottom: 2px solid black; padding-left: 0;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            {% comment %} MESSAGE TEXT AREA SECTION {% endcomment %}
            <div class="custom-contact__textarea-wrap">
              <div style="width: 100%; height: 100%; display: flex;">
                <div style="width: fit-content; padding: 5px 9px 0 9px;">
                  <i>
                    {%- render 'icon' with 'message' -%}
                  </i>
                </div>
                <textarea
                  placeholder="Type Your Message Below"
                  class="custom-contact__textarea"
                  rows="4"
                ></textarea>
              </div>
            </div>
    
            <div class="x:w-full">
              <button id="contact-submit" class="x:w-full x:border x:border-black x:bg-[#222222] x:text-white x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:h-[3.75rem] x:uppercase" type="submit">
                submit
              </button>
            </div>
        {% comment %} </form> {% endcomment %}
      </div>
    </div>
  </div>
  
  {% comment %} BOTTOM BANNER {% endcomment %}
  <!-- <div class="x:h-[7rem] x:bg-[#222222] x:w-full x:flex x:justify-center x:items-center x:gap-10 x:text-white">
    <div class="x:flex x:flex-col">
      <h2 class="x:uppercase">free shipping on orders over $200</h2>
      <span>Get alerts about new items, sales, and more.</span>
    </div>

    <button class="x:border x:border-white x:text-white x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:w-[21.875rem] x:h-[3.75rem] x:uppercase">
      get started
    </button>
  </div> -->
</section>



  