{% comment %} CONTACT MODAL {% endcomment %}
 <section class="x:absolute x:h-screen x:w-screen x:bg-black/50 x:flex x:justify-center x:items-center x:z-50" hidden id="test">
  <div class="x:w-[35rem] x:h-[20rem] x:bg-white x:rounded-lg x:p-10 x:flex x:flex-col x:items-center x:justify-between">
    <div class="x:flex x:items-center x:flex-col">
        <input type="checkbox" checked class="x:accent-black x:h-10 x:w-10">
        <h2 class="x:uppercase x:font-normal">message sent successfully</h2>
    </div>

    <p class="x:text-center">
      Thank you for reaching out. Our team will review your message and get back to you within 2-3 business days. We
      appreciate your patience.
    </p>


    <div class="x:flex x:items-center x:justify-center x:gap-5 x:w-full">
        <button class="x:capitalize x:border-black x:border-2 x:py-1 x:px-2 x:hover:scale-110 x:duration-300 x:transition-all">back to home</button>
        <button class="x:capitalize x:bg-black x:text-white x:py-1 x:px-2 x:hover:scale-110 x:duration-300 x:transition-all">continue shopping</button>
    </div>
  </div>
</section>

<section class="x:flex x:flex-col x:items-center x:border-t-2">
  {% comment %} CONTACT US SECTION {% endcomment %}
  <div class="container custom-contact__container">
    <div class="section x:flex x:flex-col x:gap-5">
      <div class="x:flex x:justify-center x:flex-col x:items-center x:mb-[6rem]">
        <h1 class="custom-store__heading x:uppercase">need help? send us a message</h1>
        <p style="text-align:center; font-weight: 400; letter-spacing: 1px; font-size: 12px;">To get help with your online purchase, contact us at
          <p style="font-weight: bold;">718-854-2595</p>
        or use the form below.</p>
      </div>

      <div class="x:flex x:flex-col x:items-center x:w-full x:gap-5">
        {% comment %} <form> {% endcomment %}
            {% comment %} FIRST NAME & LAST NAME INPUTS {% endcomment %}
            <div class="x:flex x:gap-5 x:w-full">
              {% comment %} FIRST NAME INPUT {% endcomment %}
              <div class="x:relative x:group x:w-full">
                <input placeholder="First Name" class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full">
    
                <div class="x:absolute x:flex x:items-center x:left-3 x:top-1/2 x:-translate-y-1/2 x:gap-3">
                  <i>
                    {%- render 'icon' with 'user', class: 'user' -%}
                  </i>
                </div>
              </div>
    
              {% comment %} LAST NAME INPUT {% endcomment %}
              <div class="x:relative x:group x:w-full">
                <input placeholder="Last Name" class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full">
    
                <div class="x:absolute x:flex x:items-center x:left-3 x:top-1/2 x:-translate-y-1/2 x:gap-3">
                  <i>
                    {%- render 'icon' with 'user', class: 'user' -%}
                  </i>
                </div>
              </div>
            </div>
    
            {% comment %} EMAIL INPUT {% endcomment %}
            <div class="x:w-full">
              <div class="x:relative x:group x:w-full">
                <input required type="email" placeholder="Email" class="x:pl-12 x:py-5 x:pr-5 x:border-2 x:border-black x:text-xl x:w-full">
    
                <div class="x:absolute x:flex x:items-center x:left-3 x:top-1/2 x:-translate-y-1/2 x:gap-3">
                  <i>
                    {%- render 'icon' with 'email', class: 'email' -%}
                  </i>
                </div>
              </div>
            </div>
    
            {% comment %} REASON INPUT SECTION {% endcomment %}
            <div class="x:w-full">
              <div class="x:border-2 x:border-black x:p-5 x:flex x:flex-col x:gap-5">
                {% comment %} REASON HEADER {% endcomment %}
                <div class="x:flex x:items-center x:gap-3">
                  {%- render 'icon' with 'question-circle' -%}
                  <label class="x:capitalize">reason for contacting</label>
                </div>
    
                <div class="x:flex x:flex-col x:ml-5">
                  {% comment %} SHIPPING CHECKBOX {% endcomment %}
                  <div class="x:flex x:items-center x:gap-3">
                    <input type="checkbox" class="x:w-6 x:h-6 x:accent-black">
                    <label class="x:capitalize x:text-xl">shipping</label>
                  </div>
    
                  {% comment %} PRODUCT CHECKBOX {% endcomment %}
                  <div class="x:flex x:items-center x:gap-3">
                    <input type="checkbox" class="x:w-6 x:h-6 x:accent-black">
                    <label class="x:capitalize x:text-xl">Product</label>
                  </div>
    
                  {% comment %} OTHERS CHECKBOX WITH INPUT {% endcomment %}
                  <div class="x:flex x:items-center x:gap-3">
                    <input type="checkbox" class="x:w-6 x:h-6 x:accent-black">
                    <div class="x:flex x:items-center x:gap-3">
                      <label class="x:capitalize x:text-xl">others:</label>
                      <input placeholder="Please specify..." class="x:border-b-2 x:border-black">
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            {% comment %} MESSAGE TEXT AREA SECTION {% endcomment %}
            <div class="x:w-full x:border-2 x:border-black x:p-5">
              <div class="x:relative">
                <i class="x:absolute">
                  {%- render 'icon' with 'message' -%}
                </i>
    
                <textarea
                  required
                  placeholder="Type Your Message Below"
                  class="x:w-full x:pl-10 x:pr-4 x:pb-4 x:text-base x:resize-none x:outline-none"
                  rows="4"
                ></textarea>
              </div>
            </div>
    
            <div class="x:w-full">
              <button id="contact-submit" class="x:w-full x:border x:border-black x:bg-[#222222] x:text-white x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:h-[3.75rem] x:uppercase" type="submit">
                submit
              </button>
            </div>
        {% comment %} </form> {% endcomment %}
      </div>
    </div>
  </div>
  
  {% comment %} BOTTOM BANNER {% endcomment %}
  <div class="x:h-[7rem] x:bg-[#222222] x:w-full x:flex x:justify-center x:items-center x:gap-10 x:text-white">
    <div class="x:flex x:flex-col">
      <h2 class="x:uppercase">free shipping on orders over $200</h2>
      <span>Get alerts about new items, sales, and more.</span>
    </div>

    <button class="x:border x:border-white x:text-white x:text-lg x:tracking-wider x:flex x:items-center x:justify-center x:hover:bg-white x:hover:text-black x:transition x:w-[21.875rem] x:h-[3.75rem] x:uppercase">
      get started
    </button>
  </div>
</section>

<script>
  const emailInput = document.getElementById('')
</script>



  