<div class="custom-col-slider__container">
  <div class="custom-col-slider__slide-wrap">
    <div class="splide">
      <div class="splide__track">
        <div class="splide__slide">Slider 01</div>
        <div class="splide__slide">Slider 02</div>
        <div class="splide__slide">Slider 03</div>
        <div class="splide__slide">Slider 04</div>
        <div class="splide__slide">Slider 05</div>
      </div>
    </div>
  </div>
</div>