







<div class="custom-multi-col__container">
  {% for block in section.blocks %}
    <div class="custom-multi-col__banner-block">
      <img class="custom-multi-col__img" src="{{ block.settings.id_col-img | img_url: 'master' }}" width="100%" height="" loading="lazy"/>
      <div class="custom-multi-col__banner-desc-wrap">
        <h2 class="custom-multi-col__heading">{{ block.settings.id_col-name | strip_html }}</h2>
        <!-- <h2 class="custom-multi-col__heading">{{ section.settings.id_header }}</h2> -->
        <p class="custom-multi-col__desc">{{ block.settings.id_col-desc | strip_html }}</p>
     </div>
    </div>

  
  
    <div class="custom-multi-col__col-wrap">
      <div class="custom-multi-col__col-item-box">
        <img class="custom-multi-col__img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Img_product-1.png?v=1744743919" width="100%" height="" loading="lazy"/>
        <div class="custom-multi-col__swatch-wrap">
          
        </div>
      </div>
    </div>
  
  {% endfor %}

</div>


{% schema %}
  { 
    "name": "Custom Multi Collection",
    "settings": [  
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image",
            "id": "id_col-img"
          },
          {
            "type": "text",
            "label": "Collection Name",
            "id": "id_col-name"
          },
          {
            "type": "richtext",
            "label": "Collection Desc",
            "id": "id_col-desc"
          },
          {
            "type": "url",
            "label": "Collection Link",
            "id": "id_link",
          },
        ]
      },

      
    ],
    "presets": [
      {
        "name": "Custom Multi Collection"
      }
    ],
  }
{% endschema %}