<!-- DESKTOP VIEW -->
<div id="desktop-view">
  {%  case section.settings.profile_page_template %}
    {% when 'account' %}
      {%  render 'profile-my-account' %}
    {% when 'wishlist' %}
      {%  render 'profile-my-wishlist' %}
    {% else %}
      {%  render 'profile-page' %}
  {%  endcase %}
</div>

<!-- MOBILE VIEW -->
<div id="mobile-view" style="width: 100%;">
  {%  render 'profile-mobile' %}
</div>

<script>
  const isMobile = window.innerWidth <= 767;

  document.getElementById("desktop-view").style.display = isMobile ? "none" : "flex";
  document.getElementById("mobile-view").style.display = isMobile ? "flex" : "none";
  
  window.addEventListener("resize", function () {
    const isMobileTwo = window.innerWidth <= 767;
    document.getElementById("desktop-view").style.display = isMobileTwo ? "none" : "flex";
    document.getElementById("mobile-view").style.display = isMobileTwo ? "flex" : "none";
  });
</script>

{% schema %}
{
  "name": "Custom Profile",
  "class": "shopify-section--custom-profile",
  "tag": "section",
  "disabled_on": {
    "groups": ["custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "select",
      "id": "profile_page_template",
      "label": "Profile Page Template",
      "options": [
        {
          "value": "order",
          "label": "My Orders"
        },
        {
          "value": "account",
          "label": "My Account"
        },
        {
          "value": "wishlist",
          "label": "My Wishlist"
        }
      ],
      "default": "order"
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_spacing",
      "label": "Remove vertical spacing",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_horizontal_spacing",
      "label": "Remove horizontal spacing",
      "default": false
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Custom Profile"
    }
  ]
}
{% endschema %}
