<style>

.get-in-touch__container {
  max-width: 1356px;
  width: 100%;
  margin: 0 auto 58px;
  display: flex;
  gap: 30px;
}

  
  
@media screen and (max-width: 767px) {
  
}

</style>



<div class="get-in-touch__container">
  <a class="get-in-touch__button" href="#">
    VISIT OUR STORES
  </a>
  <a class="get-in-touch__button" href="#">
    GET IN TOUCH
  </a>
</div>



{% schema %}
  {
    "name": "Get In Touch",
    "settings": [

      {
      "type": "text",
      "label": "Header",
      "id": "id_header"
      },
      {
      "type": "text",
      "label": "Desc",
      "id": "id_desc-txt"
      },
      {
        "type": "image_picker",
        "label": "Image 1",
        "id": "id_img1"
      },
      {
        "type": "image_picker",
        "label": "Image 2",
        "id": "id_img2"
      },
      {
        "type": "image_picker",
        "label": "Image 3",
        "id": "id_img3"
      },
      {
        "type": "checkbox",
        "label": "Horizontal Line",
        "id": "hr-line",
        "default": true,
      }
      
    ],
    "blocks": [
    ],
    "presets": [
      {
        "name": "Get In Touch"
      }
    ]
  }
{% endschema %}