<style>

.get-in-touch__container {
  max-width: 1356px;
  width: 100%;
  margin: 0 auto 58px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.get-in-touch__button {
  width: 350px;
  height: 60px;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #222;
  font-family: "Alata", sans-serif !important;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}

  
  
@media screen and (max-width: 1150px) {
  .get-in-touch__button {
    width: 300px;
    height: 65px;
  }
}
  
  
@media screen and (max-width: 767px) {
  .get-in-touch__container {
    padding: 0 32px;
    margin-bottom: 25px;
  }

  .get-in-touch__button {
    max-width: 174px;
    width: 100%;
    height: 38px;
    justify-content: center;
    text-align: center;
    font-size: 12px;
  }
}

</style>



<div class="get-in-touch__container">
  {% if section.settings.id_btn1  %}
    <a class="get-in-touch__button" href="/pages/store-locator">
      {{ section.settings.id_btn1 }}
    </a>
  {% endif %}
  {% if section.settings.id_btn2  %}
    <a class="get-in-touch__button" href="/pages/contact">
     {{ section.settings.id_btn2 }}
    </a>
  {% endif %}
</div>



{% schema %}
  {
    "name": "Get In Touch",
    "settings": [

      {
      "type": "text",
      "label": "Button 1 Txt",
      "id": "id_btn1"
      },
      {
      "type": "text",
      "label": "Button 1 Link",
      "id": "id_id_btn1-link"
      },
      {
      "type": "text",
      "label": "Button 2 Txt",
      "id": "id_btn2"
      },
      {
      "type": "text",
      "label": "Button 2 Link",
      "id": "id_id_btn2-link"
      },
    
      
    ],
    "blocks": [
    ],
    "presets": [
      {
        "name": "Get In Touch"
      }
    ]
  }
{% endschema %}