<style>

.get-in-touch__container {
  max-width: 1356px;
  width: 100%;
  margin: 0 auto 58px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.get-in-touch__button {
  width: 350px;
  height: 60px;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #222;
}

  
  
@media screen and (max-width: 767px) {
  
}

</style>



<div class="get-in-touch__container">
  <a class="get-in-touch__button" href="#">
    VISIT OUR STORES
  </a>
</div>



{% schema %}
  {
    "name": "Get In Touch",
    "settings": [

      {
      "type": "text",
      "label": "Button 1",
      "id": "id_btn1"
      },
     
    
      
    ],
    "blocks": [
    ],
    "presets": [
      {
        "name": "Get In Touch"
      }
    ]
  }
{% endschema %}