.product {
  max-width: 1356px;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 0.6175fr 0.3817fr !important;
  gap: 25px !important;
}

/* start of custom mega menu layout */
.mega-menu__nav {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
}

.mega-menu__nav a {
  font-family: "Alata", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #222;
}

.reversed-link {
  font-family: "Alata", sans-serif !important;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(34, 34, 34, 0.7);

}

.mega-menu__nav li:nth-child(4) {
  grid-row: span 2;
}

.li-pair:nth-child(4) li:nth-child(2) {
  display: none;
}

.li-pair {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.li-pair li {
  gap: 0 !important;
}

.custom-navigation-promo__txt {
  text-transform: capitalize;
  text-decoration: underline;
  font-family: "Alata", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  line-height: 26px;
  margin-top: 10px;
  display: flex;
  position: relative;
  width:  fit-content;
}

.custom-navigation-promo__txt::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  background: url('https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Vector.png?v=1745259174') no-repeat;
  background-size: 100%;
  bottom: 5px;
  right: -20px;

}
/* end of custom mega menu layout */

.custom-product__info {
  /* border: 1px solid; */
}

.custom-product__gallery {
  gap: 20px !important;
}

.custom-product__thumbnail-wrapper {
  min-width: 80px;
}

.custom-product__gallery-media {
  max-height: 608px;
  height: 100%;
}

.custom-product__gallery-media img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 0 !important;
}

.custom-product__gallery-thumbnail {
  width: 80px;
  height: 72px;
}

.custom-product__gallery-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 !important;
}

.custom-product__gallery-thumbnail-list {
  width: 100%;
}

.custom-product__gallery-media-list {
  max-height: 608px;
  /* border: 1px solid; */
}

.custom-product__info-title {
  font-size: 32px !important;
  font-family: "Alata", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: #000;
}

.custom-product__info-quantity-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-product__quantity-selector {
  border-radius: 0 !important;
  height: 36px !important;
  border: none;
}

.custom-product__quantity-button {
  width: 36px;
  height: 36px;
  background-color: rgba(34, 34, 34, 0.1) !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-product__quantity-input {
  width: 36px !important;
  height: 36px;
  font-size: 20px;
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #222;
}


.custom-product__swatch-rectangle {
  border-radius: 0 !important;
}

.custom-product__buy-button {
  background: #222 !important;
  width: 100%;
  height: 36px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 0 !important;
  text-transform: uppercase;
  color: #fff !important;
  font-family: "Alata", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 0 !important;
}

.product-card__quick-buy {
  width: 100%;
  height: 58px;
  margin: 0;
  right: 0 !important;
  bottom: 0 !important;
  background: rgba(0, 0, 0, .5);
}

.product-card__quick-buy .custom-product__buy-button {
  background: rgba(0, 0, 0, .5) !important;
  height: 100%;
}
.product-card__quick-buy .custom-product__buy-button div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-product__buy-button-wrap {
  display: flex;
  gap: 10px;
}

.custom-product__buy-buttons {
  gap: 13px !important;
}

.custom-product__buy-button--white {
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #000;
}

.custom-product__desc-container {
  max-width: 1356px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 120px;
  padding: 35px;
  border: 1px solid #222;
  margin: 23px auto 32px;
}

.custom-product__desc-title-wrap {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
}

.custom-product__desc-title {
  font-size: 20px !important;
  font-family: "Alata", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.custom-product__desc-txt {
  font-size: 14px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.shopify-product-form,
.product-card__quick-buy div{
  height: 100%;
}

.section-header h2 {
  font-size: 32px !important;
  font-family: "Alata", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 20px;
  padding-top: 50px;
  margin-bottom: 52px;
}

/* .section {
  max-width: 1356px;
  margin: 0 auto;
  padding: 0 !important;
} */



.custom-product-card {
  /* border: 1px solid; */
}

.color-swatch::before {
    inset: unset !important;
    border-radius: 0 !important;
    will-change: unset !important;
    box-shadow: none !important;
    width: 100%;
    height: 2px;
    background:  var(--swatch-background);;
    bottom: -6px !important;
}

.product-info__text {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  color: #000;
}

.Size .custom-variant__inputs {
  width: 25px !important;
  height: 25px !important;
  clip: unset !important;
  position: relative !important;
}
.Size .block-swatch {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border: none !important;
}
.Size .block-swatch::before {
   content: "";
  box-shadow: : none;
}