@import "tailwindcss" prefix(x) important;

@theme {
    --breakpoint-md: 990px;
    --breakpoint-lg: 1280px;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

@layer base {
  /* pages/profile */
  .profile__order-img-wrap {
    @apply x:min-w-[100px] x:min-h-[100px];
  }

  .profile__order-img {
    @apply x:w-full x:h-full;
  }
}