@import "tailwindcss" prefix(x) important;

@theme {
    --breakpoint-md: 990px;
    --breakpoint-lg: 1280px;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }