@import "tailwindcss" prefix(x) important;

@theme {
    --breakpoint-md: 990px;
    --breakpoint-lg: 1280px;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

@layer base {
  /* pages/profile */
  .profile__order-img-wrap {
    @apply x:min-w-[100px] x:min-h-[100px];
  }

  .profile__order-img {
    @apply x:w-full x:h-full;
  }

  /* header */
  .custom-search__bar-list {
    @apply x:w-64 x:h-6 x:flex x:items-center;
  }
}

@layer base {
  .suggestion-item-container {
    @apply x:bg-amber-100 x:gap-2 x:absolute x:w-full x:my-1 x:flex x:flex-col x:border x:border-[#222222]/10 x:shadow-lg;
  }

  .suggestion-item {
    @apply x:w-full x:p-2 x:cursor-pointer x:bg-white x:block;
  }
}